<!-- Start Post Section
==================================== -->

<section class="problems section post">
  <div class="container">
    <!-- /section title -->
    <div class="row">
      <!-- Problems item -->
      <div class="col-12 col-lg-8">
        <form id="register-form"  [formGroup]="postProblemForm" (ngSubmit)="addOrUpdateProblem(true)" class="register-form" >

        <div class="info-content">
          <div class="title wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
            <h4>Title<span class="color">
            </span></h4>
            <div class="border"></div>
          </div>
          <div class="post-block wow fadeInUp" data-wow-duration="500ms">
            <input type="text" (change)="addOrUpdateProblem()" formControlName="title" class="form-control content" name="title" id="title" required>
          </div>
        </div>
        <div class="info-content">
          <div class="title wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
            <h4>Description<span class="color"></span></h4>
            <div class="border"></div>
          </div>
          <div class="post-block text-editor wow fadeInUp" data-wow-duration="500ms">
            <quill-editor [modules]="quillConfiguration" formControlName="description" (onSelectionChanged)="addOrUpdateProblem()" class="editor"></quill-editor>
          </div>
          <div class="post-block wow fadeInUp" data-wow-duration="500ms">
            <div class="content drop-container">
              <div *ngFor="let problemAttachFile of problemAttachFiles " class="skill-icon">
                <img src="{{problemAttachFile}}" class="js-tosvg">
              </div>
            </div>
            <div  class="post-block profile">
              <div class="media-wrapper last" >
                <label class="addbtn-problem" for="file-input">
                  <img src="assets/img/icons/plus.svg" alt="add-icon" class="js-tosvg img-responsive">
                </label>
                <input id="file-input" class="remove-input" type="file" multiple (change)="uploadImages($event.target.files)">
              </div>
            </div>
          </div>
          <div class="element-btn-wrap">
            <button type="submit" class="btn btn-main">Post</button>
          </div>
        </div>
        </form>
      </div>
      <div class="col-12 col-lg-4">
        <div class="post-block next-sec">
          <div class="icon-wrap">
            <div class="skill-icon {{problemStatus?.toLowerCase()}}">
              <img src="assets/img/icons/{{problemStatus}}.svg" class="js-tosvg">
            </div>
            <span>{{problemStatus}}</span>
          </div>
        </div>
      </div>
      <!-- End Post item -->
    </div> 		<!-- End row -->

  </div>   	<!-- End container -->
</section>   <!-- End section -->
