// Custom Variables //
$primaryFont: 'Raleway-Regular';
$primaryFontLight: 'Raleway-Light';
$primaryFontBold: 'Raleway-Bold';
$primaryFontBlack: 'Raleway-Black';


// Set Colors
$black: #242930;
$black-1:  #292F36;
$black-2: #1d2024;
$black-alpha-10: rgba(0, 0, 0, 0.1);
$black-alpha-30: rgba(44, 44, 44, 0.3);
$black-alpha-50: rgba(0, 0, 0, 0.5);
$black-alpha-70: rgba(0, 0, 0, 0.7);

$white: #ffffff;
$white-1: #f5f5f5; //
$white-2: #e0e0e0; //
$white-alpha-07: rgba(236, 239, 241, 0.07); //?
$white-apha-70:rgba(255, 255, 255, 0.7);

$iGray: #8f8f8f;
$iLightGray: #d2d2d2;//
$iDarkGray: #4a4a4a; //
$iDarkGray-1: #aeacad; //
$iDarkGray-2: #605f5f;
$iDarkGray-3:  #26292e;
$Gray-alpha-30: rgba(187, 187, 187, 0.30);
$iYellow: #fff63a; //
$iYellowDark: #e4dc37;

$iOrange: #ff6f57; //


$iGreen: #42a760; //
$iGreenDark: #328049; //
$iLightGreen: #87e03b;

$iBlue: #25aae2;//
$iBlue-1: #1395cc;//
$iBlue-alpha-70: rgba(37, 170, 226, 0.7);//
$iBlueDark: #1c769c;//


$iRed: #d91f16; //
$iRedDark: #bd241d; //
$iRed-1: #FFBABA;

$iPrimary: #00aeef; //
$iSecondry: #7dc242;



//** Placeholder text color
$input-color-placeholder: $iGray !default;

// Media Sizes
$vpdesktopMin: "(min-width:2100px)";
$vpMddesktop: "(max-width:1700px)";
$vpdesktop: "(max-width:1400px)";
$vptabletL: "(max-width:1199px)";
$vptabletPMin: "(min-width:992px)";
$vptabletP: "(max-width:991px)";
$vpmobile: "(max-width:767px)";
$vpsmobile: "(max-width:576px)";
$vpxsmmobile: "(max-width:425px)";
$vpxxsmobile: "(max-width:320px)";
