<!-- Start Problems Section
==================================== -->
<section class="problems section">
  <div class="container">
    <!-- section title -->
    <div class="title p-0 text-center wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
      <h2>My Problems</h2>
    </div>

    <div class="post-block profile p-0 wow fadeIn" data-wow-duration="1500ms">
      <app-user-switch class="post-block profile"></app-user-switch>
      <div  routerLink="./post" class="media-wrapper last">
        <img src="assets/img/icons/plus.svg" alt="close button" class="js-tosvg img-responsive">
      </div>
    </div>
    <!-- /section title -->
    <div class="row">
      <!-- Problems item -->
      <div class="col-12 text-center">

        <!-- Start When No data was there -->
        <div *ngIf="(problemList$ | async)?.length == 0 "  class="post-block msg-box text-center" data-wow-duration="500ms">
          <div class="content">
            <div class="btn-wrap padding--left">
              <div class="btn-box image">
                <div class="post-block profile">
                  <div class="media-wrapper">
                    <img src="assets/img/icons/warning.svg" alt="profile" class="js-tosvg img-responsive">
                  </div>
                </div>
              </div>
            </div>
            <div class="description">
              <h3>Sorry you have to no problems to solve or get solved</h3>
            </div>
          </div>
        </div>

        <!-- End When No data was there -->

        <div  *ngFor="let problem of problemList$ | async " class="post-block padd--mod wow fadeInUp" data-wow-duration="500ms">
          <div class="content">
            <div class="icon-wrap">
              <div class="skill-icon {{problem.status.toLowerCase()}}">
                <img src="assets/img/icons/{{problem.status}}.svg" class="js-tosvg">
              </div>
              <span>{{problem.status}}</span>
            </div>
            <div class="description">
              <h2 class="subtitle" >{{problem.title}}</h2>
            </div>
            <div class="card-btn-wrap">
              <div class="btn-wrap">
                <div (click)="openViewProblemModal(problem.id)" class="btn-box">
                  <a  class="btn btn-blue" >
                    <img src="assets/img/icons/view.svg" class="js-tosvg">
                  </a>
                  <span>Views</span>
                </div>
                <div *ngIf="problem.status == tempEnum.PENDING || problem.status == tempEnum.DRAFT || problem.status == tempEnum.CANCELLED" class="btn-box">
                  <a routerLink="./post/{{problem.id}}" class="btn btn-green">
                    <img src="assets/img/icons/edit.svg" class="js-tosvg">
                  </a>
                  <span>edit</span>
                </div>
                <div class="btn-box">
                  <a class="btn btn-red">
                    <img src="assets/img/icons/delete.svg" class="js-tosvg">
                  </a>
                  <span>delete</span>
                </div>
              </div>
              <div class="review-wrap">
                <div class="views">
                  <span>{{problem.noOfViews}}</span>
                  <p>No. of views</p>
                </div>
                <div class="requests">
                  <span>9</span>
                  <p>No. of requests</p>
                </div>
              </div>
            </div>
          </div>
          <div class="chips-wrap">
            <div class="chips">
              <img src="assets/img/socials/twitter.svg" class="js-tosvg">
              <span>Icons Chips</span>
            </div>
            <div class="chips">
              <img src="assets/img/socials/twitter.svg" class="js-tosvg">
              <span>Icons Chips</span>
            </div>
            <div class="chips">
              <img src="assets/img/socials/twitter.svg" class="js-tosvg">
              <span>Icons Chips</span>
            </div>
          </div>
        </div>
      </div>
      <!-- End Problems item -->

    </div> 		<!-- End row -->
  </div>   	<!-- End container -->
<!--  <router-outlet></router-outlet>-->
</section>
