<!-- Navbar -->
<header id="navigation" class="navbar navigation nav-home">
    <div class="container">
      <div class="navbar-header">
        <!-- responsive nav button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- /responsive nav button -->

        <!-- logo -->
        <a class="navbar-brand logo">
          <img src="assets/img/logo/solveit_vertical_logo.svg" alt="Website Logo" />
        </a>
        <!-- /logo -->
      </div>
      <div class="nav-btn">
          <button _ngcontent-bwi-c1="" class="btn btn-main first" routerLink="./auth">Login</button>
          <button _ngcontent-bwi-c1="" class="btn btn-main" routerLink="./auth">Register</button>
      </div>

    </div>
  <!--  {{ show | async | json }}-->
  </header>
