<!-- Navbar -->
<header id="navigation" class="navbar navigation">
  <div class="container">
    <div class="navbar-header">
      <!-- responsive nav button -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- /responsive nav button -->

      <!-- logo -->
      <a class="navbar-brand logo">
        <img src="assets/img/logo/solveit_vertical_logo.svg" alt="Website Logo" />
      </a>
      <app-search></app-search>
      <!-- /logo -->
    </div>

    <!-- main nav -->
    <nav class="collapse navbar-collapse" role="Navigation">
      <ul id="nav" class="nav navbar-nav navigation-menu">
        <li routerLink="./dashboard" >
          <img src="assets/img/icons/home.svg" alt="home" class="js-tosvg img-responsive">
          <a data-scroll>Home</a>
        </li>
        <li routerLink="./problems">
          <img src="assets/img/icons/problems.svg" alt="problems" class="js-tosvg img-responsive">
          <a data-scroll>Problems</a>
        </li>
        <li routerLink="./sessions">
          <img src="assets/img/icons/session.svg" alt="session" class="js-tosvg img-responsive">
          <a data-scroll>Sessions</a>
        </li>
        <li class="nav-dropdown">
          <div class="dropdown-wrap">
            <img src="assets/img/icons/notification.svg" alt="notification" class="custom-pic img-responsive">
            <a data-scroll class="js-dropdown desktop"  data-dropdown="dropdown">
              <span>notification</span>
              <img src="assets/img/icons/down-arrow.svg" alt="arrow" class="arrow img-responsive">
            </a>
            <a data-scroll class="js-dropdownMobile mobile"  data-dropdown="dropdown">
              <span>notification</span>
              <img src="assets/img/icons/down-arrow.svg" alt="arrow" class="arrow img-responsive">
            </a>
          </div>
          <div class="dropdown  js-getHeight height--mobile">
            <div class="dropdown-title no-border">
              <ul class="notification-dropdown">
                <li *ngFor = "let notification of notificationArray">
                  <div class="dropdown-box" routerLink="{{notification?.routePath}}">
                    <span class="img-wrap">
                      <img src="assets/img/icons/{{notification?.iconPath}}" class="arrow img-responsive">
                    </span>
                    <span>{{notification?.bodyMessage}}</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="nav-dropdown last">
          <div class="dropdown-wrap">
            <img src="{{(profileInfo$ | async)?.user_profile_avatar}}" alt="person" class="custom-pic img-responsive">
            <a data-scroll class="js-dropdown desktop"  data-dropdown="dropdown">
              <span>Me</span>
              <img src="assets/img/icons/down-arrow.svg" alt="arrow" class="arrow img-responsive">
            </a>
            <a data-scroll class="js-dropdownMobile mobile"  data-dropdown="dropdown">
              <span>Me</span>
              <img src="assets/img/icons/down-arrow.svg" alt="arrow" class="arrow img-responsive">
            </a>
          </div>
          <div class="dropdown  js-getHeight height--mobile">
            <div class="dropdown-title">
              <h4 class="title">{{(profileInfo$ | async)?.username }}</h4>
              <div class="logout" (click)="logout()">
                <img src="assets/img/icons/logout.svg" alt="person" class="arrow img-responsive">
                <span>Logout</span>
              </div>
            </div>
            <div class="dropdown-subheading">
              <h5 class="heading">Account</h5>
              <ul>
                <li  routerLink="./settings" ><a>Settings & Privacy</a></li>
                <li><a>FAQ's</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <button *ngIf="consoleIndexComponentUserType.length == 1" routerLink="./signup-consultant"  type="submit" class="btn btn-main">Consultant Signup</button>
    </nav>
    <!-- /main nav -->

  </div>
</header>

<router-outlet>

</router-outlet>

<app-footer> </app-footer>
