<div *ngIf="consoleIndexComponentUserType.length == 2" class="media-wrapper">
  <img src="assets/img/icons/profile_img.svg" (click)="switchUserType(userType.USER)" alt="close button" class="js-tosvg img-responsive">
</div>
<div *ngIf="consoleIndexComponentUserType.length == 2" (click)="switchUserType(userType.PROBLEM_SOLVER)" class="media-wrapper">
  <img src="assets/img/icons/profile_img1.svg" alt="close button" class="js-tosvg img-responsive">
</div>
