<!-- Start Session Section
==================================== -->
<section class="problems section session">
  <div class="container">
    <!-- /section title -->
    <div class="title text-center wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
      <h2>My Sessions</h2>
    </div>
    <div class="post-block profile wow fadeInUp" data-wow-duration="500ms">
      <app-user-switch class="post-block profile"></app-user-switch>
    </div>

    <div class="row">
      <!-- Problems item -->
      <div class="col-12">
        <div class="title wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
          <h4>Up coming session<span class="color"></span></h4>
          <div class="border"></div>
        </div>

        <!-- Start When No data was there -->
        <div *ngIf="(upcomingSessions$ | async)?.length == 0 "  class="post-block msg-box text-center " data-wow-duration="500ms">
          <div class="content">
            <div class="btn-wrap padding--left">
              <div class="btn-box image">
                <div class="post-block profile">
                  <div class="media-wrapper">
                    <img src="assets/img/icons/warning.svg" alt="profile" class="js-tosvg img-responsive">
                  </div>
                </div>
              </div>
            </div>
            <div class="description">
              <h3>You have no Up comming session</h3>
            </div>
          </div>
        </div>
        <!-- End When No data was there -->

      </div>
      <div class="col-12 col-lg-8">
        <div class="info-content" *ngIf="(upcomingSessions$ | async) as upcomingSessions ">
          <div  *ngFor="let upcomingSession of upcomingSessions" class="post-block text-center wow fadeInUp" data-wow-duration="500ms">
            <div class="content">
              <div class="description">
                <h5>{{upcomingSession.problemTitle}}</h5>
                <p>{{upcomingSession.problemDescription}}</p>
              </div>
              <div class="btn-wrap">
                <div class="btn-box">
                  <p>{{upcomingSession.startTime}}</p>
                </div>
                <div class="btn-box">
                  <div class="btn-box">
                    <a [routerLink]="['./live-call']" [queryParams]="{ session_id:upcomingSession.sessionId, problem_id:upcomingSession.sessionProblemId, session_token:upcomingSession.sessionToken }" class="btn btn-green">
                      <img src="assets/img/icons/edit.svg" class="js-tosvg">
                    </a>
                    <span>Join</span>
                  </div>
                </div>
                <div class="btn-box image">
                  <div class="post-block profile">
                    <div class="media-wrapper">
                      <img src="assets/img/icons/profile_img.svg" alt="profile" class="js-tosvg img-responsive">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-content" *ngIf="sessionHistory$ | async">
          <div class="title wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
            <h4>Session History<span class="color"></span></h4>
            <div class="border"></div>
          </div>
          <div class="post-block text-center wow fadeInUp" data-wow-duration="500ms">
            <div class="content">
              <div class="description">
                <h5>Problem info</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Risus commodo
                  viverra.</p>
              </div>
              <div class="btn-wrap">
                <div class="btn-box">
                  <p>Session Time</p>
                </div>
                <div class="btn-box image">
                  <p>Person</p>
                  <div class="post-block profile">
                    <div class="media-wrapper">
                      <img src="assets/img/icons/profile_img.svg" alt="profile" class="js-tosvg img-responsive">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="post-block text-center wow fadeInUp" data-wow-duration="500ms">
            <div class="content">
              <div class="description">
                <h5>Problem info</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Risus commodo
                  viverra.</p>
              </div>
              <div class="btn-wrap">
                <div class="btn-box">
                  <p>Session Time</p>
                </div>
                <div class="btn-box image">
                  <p>Person</p>
                  <div class="post-block profile">
                    <div class="media-wrapper">
                      <img src="assets/img/icons/profile_img.svg" alt="profile" class="js-tosvg img-responsive">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
      <!-- section title -->
      <!-- End Problems item -->
    </div> 		<!-- End row -->
  </div>   	<!-- End container -->
</section>   <!-- End section -->
