<footer id="footer" class="footer">
  <div class="container">
    <div class="row footer-top wow fadeInUp" data-wow-duration="500ms">
      <div class="col-lg-6">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur.
        </p>
        <p class="followers"><strong>15K</strong> <span>followers</span></p>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <ul>
          <li><a href=""><strong>Explore</strong></a></li>
          <li><a href="">Cookies</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Licenses</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <ul>
          <li><a href=""><strong>Important</strong></a></li>
          <li><a href="">Timeline</a></li>
          <li><a href="">News</a></li>
          <li><a href="">Lisence</a></li>
          <li><a href="">Insight</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <ul>
          <li><a href=""><strong>Categories</strong></a></li>
          <li><a href="">Strategies</a></li>
          <li><a href="">Terms & Conditions</a></li>
          <li><a href="">Services</a></li>
          <li><a href="">FAQ</a></li>
        </ul>
      </div>
    </div> <!-- end row -->
    <div class="footer-bottom">
      <div class="social-icon">
        <ul class="list-inline">
          <li>
            <a href="https://facebook.com/">
              <img src="assets/img/icons/facebook.svg" alt="home" class="js-tosvg img-responsive">
            </a>
          </li>
          <li>
            <a href="https://google.com/">
              <img src="assets/img/icons/google-plus.svg" alt="home" class="js-tosvg img-responsive">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/">
              <img src="assets/img/icons/instagram.svg" alt="home" class="js-tosvg img-responsive">
            </a>
          </li>
          <li>
            <a href="https://pinterest.com/">
              <img src="assets/img/icons/pinterest.svg" alt="home" class="js-tosvg img-responsive">
            </a>
          </li>
          <li>
            <a href="https://twitter.com/">
              <img src="assets/img/icons/twitter.svg" alt="home" class="js-tosvg img-responsive">
            </a>
          </li>
          <li>
            <a href="https://youtube.com/">
              <img src="assets/img/icons/youtube.svg" alt="home" class="js-tosvg img-responsive">
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-logo">
        <a class="logo" href="index.html">
          <img src="assets/img/logo/solveit_vertical_logo.svg" alt="Website Logo" class="js-tosvg img-responsive"/>
        </a>
        <!-- <p><script>document.write(new Date().getFullYear())</script></p> -->
      </div>

      <div class="footer-nav">
        <ul class="navigation-menu">
          <li>
            <a data-scroll="" href="#">Home</a>
          </li>
          <li>
            <a data-scroll="" href="#">About</a>
          </li>
          <li>
            <a data-scroll="" href="#">Sessions</a>
          </li>
          <li>
            <a data-scroll="" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div> <!-- end container -->
</footer> <!-- end footer -->

<script type="text/javascript" src="assets/js/vendors.min.js"></script>
<script type="text/javascript">
  var customVariables = {
    baseURL : '',
  };
</script>
<script type="text/javascript" src="assets/js/scripts.min.js"></script>
