<!-- Start User Setting Section
==================================== -->
<section class="problems user-setting section">
  <div class="container">
    <!-- /section title -->
    <div class="row">
      <!-- section title -->
      <div class="col-12 col-lg-4 sticky-tab js-sticky-tab">
        <div class="nav-sticky-wrap">
          <div class="page-listing">
            <h3><a (click)="settingUIChange(settingEnum.PREFRENCES)" class="heading is--active">Preference</a></h3>
            <ul class="js-listing">
              <li><a >Username</a></li>
              <li><a >Email</a></li>
              <li><a >Password</a></li>
              <li><a >Phone Number</a></li>
            </ul>
          </div>
          <div class="page-listing">
            <h3><a (click)="settingUIChange(settingEnum.USER_SETTINGS)" class="heading is--active">User Settings</a></h3>
            <ul class="js-listing">
              <li><a>Two Factor Authentication</a></li>
              <li><a>Languages</a></li>
              <li><a>Country</a></li>
            </ul>
          </div>
          <div class="page-listing">
            <h3><a (click)="settingUIChange(settingEnum.COMMUNICATION_SETTINGS)" class="heading is--active">Communication Setting</a></h3>
            <ul class="js-listing">
              <li><a>Session Request</a></li>
              <li><a>Session Request Acceptance</a></li>
              <li><a>Problem Approval</a></li>
              <li><a>Session Reminder</a></li>
              <li><a>Consultant Profile Approval</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Session item -->
      <div class="col-12 col-lg-8">
        <div *ngIf="userSettingActiveState == settingEnum.PREFRENCES" class="info-content">
          <div class="title wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
            <h4 id="Preference">Preference<span class="color"></span></h4>
            <div class="border"></div>
          </div>
          <!--          <form id="userSetting" method="post" action="" role="form">-->
          <div class="post-block text-center wow fadeInUp" data-wow-duration="500ms">
            <div class="content">
              <div class="description">
                <h5>Username</h5>
                <div class="btn-wrap">
                  <a class="btn btn-blue"><img src="assets/img/icons/edit.svg" class="js-tosvg"
                                                (click)="onUsernameEditClicked()"></a>
                  <a class="btn btn-green"><img src="assets/img/icons/check.svg" class="js-tosvg" (click)="onUsernameUpdateBtnClicked(username)"></a>
                </div>
              </div>
              <div class="form-group">
                <input type="text" value="{{(userSetting | async)?.username}}" class="form-control" name="name"
                       id="name" required [disabled]="usernameEditBtnEnabled" #username >
                <div class="alert alert-danger" role="alert" *ngIf="errorObject && isUsernameUpdatedError">
                  {{errorObject.message}}
                </div>
                <div *ngIf="(responseObject | async) && isUsernameUpdatedSuccessfully" class="alert alert-primary" role="alert">
                  {{(responseObject | async)?.message}}
                </div>
              </div>
            </div>
          </div>
          <div class="post-block text-center wow fadeInUp" data-wow-duration="500ms">
            <div class="content">
              <div class="description">
                <h5>Email</h5>
                <div class="btn-wrap">
                  <a class="btn btn-blue"><img src="assets/img/icons/edit.svg" class="js-tosvg"
                                                (click)="onEmailEditClicked()"></a>
                  <a class="btn btn-green"><img src="assets/img/icons/check.svg" class="js-tosvg" (click)="onEmailUpdateBtnClicked(email)"></a>
                </div>
              </div>
              <div class="form-group">
                <input type="email" value="{{(userSetting | async)?.email}}" class="form-control" name="email"
                       id="email" [disabled]="emailEditBtnEnabled" #email>
                <div class="alert alert-danger" role="alert" *ngIf="errorObject && isEmailUpdatedError">
                  {{errorObject.message}}
                </div>
                <div *ngIf="(responseObject | async) && isEmailUpdatedSuccessfully" class="alert alert-primary" role="alert">
                  {{(responseObject | async)?.message}}
                </div>
              </div>
            </div>
          </div>
          <div class="post-block text-center wow fadeInUp" data-wow-duration="500ms">
            <div class="content">
              <div class="description">
                <h5>Password</h5>
                <div class="btn-wrap">
                  <a class="btn btn-blue"><img src="assets/img/icons/edit.svg" class="js-tosvg"
                                                (click)="onPasswordEditClicked()"></a>
                  <a class="btn btn-green"><img src="assets/img/icons/check.svg" class="js-tosvg" (click)="onPasswordUpdateBtnClicked(oldPassword, newPassword)"></a>
                </div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="passowrd"
                       id="current-password" [disabled]="passwordBtnEnabled" placeholder="Current Password" #oldPassword>
                <input type="password" class="form-control" name="passowrd"
                       id="new-password" [disabled]="passwordBtnEnabled" placeholder="New Password" #newPassword>
                <div class="alert alert-danger" role="alert" *ngIf="errorObject && isPasswordUpdatedError">
                  {{errorObject.message}}
                </div>
                <div *ngIf="(responseObject | async) && isPasswordUpdatedSuccessfully" class="alert alert-primary" role="alert">
                  {{(responseObject | async)?.message}}
                </div>
              </div>
            </div>
          </div>
          <div class="post-block text-center wow fadeInUp" data-wow-duration="500ms">
            <div class="content">
              <div class="description">
                <h5>Phone Number</h5>
                <div class="btn-wrap">
                  <a class="btn btn-blue"><img src="assets/img/icons/edit.svg" class="js-tosvg"
                                                (click)="onPhoneNumberEditClicked()"></a>
                  <a class="btn btn-green"><img src="assets/img/icons/check.svg" class="js-tosvg" (click)="onPhoneNumberBtnClicked(phoneNumber)"></a>
                </div>
              </div>
              <div class="form-group">
                <input type="text" value="{{(userSetting | async)?.phoneNumber}}" class="form-control" name="number"
                       id="number" [disabled]="phoneNumberEnabled" #phoneNumber>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="errorObject && isPhoneNumberUpdatedError">
                {{errorObject.message}}
              </div>
              <div *ngIf="(responseObject | async) && isPhoneNumberUpdatedSuccessfully" class="alert alert-primary" role="alert">
                {{(responseObject | async)?.message}}
              </div>
            </div>
          </div>
          <!--          </form>-->
        </div>
        <div *ngIf="userSettingActiveState == settingEnum.USER_SETTINGS" class="info-content">
          <div class="title wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
            <h4>User Settings<span class="color"></span></h4>
            <div class="border"></div>
          </div>
          <div class="post-block text-center wow fadeInUp" data-wow-duration="500ms">
            <div class="content">
              <div id="twofa" class="description">
                <h5>Two way factor</h5>
              </div>
              <div class="form-group">
                <label>Yes</label>
                <input type="radio" class="form-control" name="two-way-factor" [checked]="(userSetting | async)?.userSettings.twoWayFactor" #twoFactor>
                <label>No</label>
                <input type="radio" class="form-control" name="two-way-factor" [checked]="!(userSetting | async)?.userSettings.twoWayFactor">
                <div class="alert alert-danger" role="alert" *ngIf="errorObject && isTwoFactorUpdatedError">
                  {{errorObject.message}}
                </div>
                <div *ngIf="(responseObject | async) && isTwoFactorUpdatedSuccessfully" class="alert alert-primary" role="alert">
                  {{(responseObject | async)?.message}}
                </div>
              </div>
              <div class="btn-wrap">
                <a class="btn btn-green"><img src="assets/img/icons/check.svg" class="js-tosvg" (click)="onTwoFactorBtnClicked(twoFactor)"></a>
              </div>
            </div>
          </div>
          <div class="post-block text-center wow fadeInUp" data-wow-duration="500ms">
            <div class="content">
              <div class="description">
                <h5>Country</h5>
              </div>
              <div class="form-group">
                <select name="country" id="country" class="form-control" #country>
                  <option value="fr">{{(userSetting | async)?.userSettings.country}}</option>
                </select>
                <div class="alert alert-danger" role="alert" *ngIf="errorObject && isCountryUpdatedError">
                  {{errorObject.message}}
                </div>
                <div *ngIf="(responseObject | async) && isCountryUpdatedSuccessfully" class="alert alert-primary" role="alert">
                  {{(responseObject | async)?.message}}
                </div>
              </div>
              <div class="btn-wrap">
                <a class="btn btn-green"><img src="assets/img/icons/check.svg" class="js-tosvg" (click)="onCountryBtnClicked(country)"></a>
              </div>
            </div>
          </div>
          <div class="post-block text-center wow fadeInUp" data-wow-duration="500ms">
            <div class="content">
              <div class="description">
                <h5>Languages</h5>
              </div>
              <div class="form-group">
                <input type="text" value="{{(userSetting | async)?.userSettings.languages}}" class="form-control" name="name"
                       id="language" required #language>
                <div class="alert alert-danger" role="alert" *ngIf="errorObject && isLanguageUpdatedError">
                  {{errorObject.message}}
                </div>
                <div *ngIf="(responseObject | async) && isLanguageUpdatedSuccessfully" class="alert alert-primary" role="alert">
                  {{(responseObject | async)?.message}}
                </div>
              </div>
              <div class="btn-wrap">
                <a class="btn btn-green"><img src="assets/img/icons/check.svg" class="js-tosvg" (click)="onLanguageBtnClicked(language)"></a>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="userSettingActiveState == settingEnum.COMMUNICATION_SETTINGS" class="info-content">
          <div class="title wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
            <h4>Communication Setting<span class="color"></span></h4>
            <div class="border"></div>
          </div>
          <div class="post-block text-center wow fadeInUp" data-wow-duration="500ms">
            <div class="content">
              <div id="sessionRequest" class="description">
                <h5>Session Request</h5>
              </div>
              <div class="form-group">
                <label>SMS</label>
                <input type="checkbox" class="form-control"
                       [checked]="(userSetting | async)?.communicationSetting.sessionRequest.includes('SMS')" #smsSessionRequest>
                <label>Email</label>
                <input type="checkbox" class="form-control"
                       [checked]="(userSetting | async)?.communicationSetting.sessionRequest.includes('EMAIL')" #emailSessionRequest>
                <label>Push Notifications</label>
                <input type="checkbox" class="form-control"
                       [checked]="(userSetting | async)?.communicationSetting.sessionRequest.includes('PUSH_NOTIFICATIONS')" #pushNotificationSessionRequest>
                <div class="alert alert-danger" role="alert" *ngIf="errorObject && isSessionRequestUpdatedError">
                  {{errorObject.message}}
                </div>
                <div *ngIf="(responseObject | async) && isSessionRequestUpdatedSuccessfully" class="alert alert-primary" role="alert">
                  {{(responseObject | async)?.message}}
                </div>
              </div>
              <div class="btn-wrap">
                <a class="btn btn-green"><img src="assets/img/icons/check.svg" class="js-tosvg"
                                             (click)="onSessionRequestBtnClicked(smsSessionRequest, emailSessionRequest, pushNotificationSessionRequest)"></a>
              </div>
            </div>
          </div>
          <div class="post-block text-center wow fadeInUp" data-wow-duration="500ms">
            <div class="content">
              <div id="sessionRequestAcceptance" class="description">
                <h5>Session Request Acceptance</h5>
              </div>
              <div class="form-group">
                <label>SMS</label>
                <input type="checkbox" class="form-control"
                       [checked]="(userSetting | async)?.communicationSetting.sessionRequestAcceptance.includes('SMS')" #smsSessionRequestAcceptance>
                <label>Email</label>
                <input type="checkbox" class="form-control"
                       [checked]="(userSetting | async)?.communicationSetting.sessionRequestAcceptance.includes('EMAIL')" #emailSessionRequestAcceptance>
                <label>Push Notifications</label>
                <input type="checkbox" class="form-control"
                       [checked]="(userSetting | async)?.communicationSetting.sessionRequestAcceptance.includes('PUSH_NOTIFICATIONS')" #pushNotificationSessionRequestAcceptance>
                <div class="alert alert-danger" role="alert" *ngIf="errorObject && isSessionRequestAcceptanceUpdatedError">
                  {{errorObject.message}}
                </div>
                <div *ngIf="(responseObject | async) && isSessionRequestAcceptanceUpdatedSuccessfully" class="alert alert-primary" role="alert">
                  {{(responseObject | async)?.message}}
                </div>
              </div>
              <div class="btn-wrap">
                <a class="btn btn-green"><img src="assets/img/icons/check.svg" class="js-tosvg"
                                             (click)="onSessionRequestAcceptanceBtnClicked(smsSessionRequestAcceptance, emailSessionRequestAcceptance, pushNotificationSessionRequestAcceptance)"></a>
              </div>
            </div>
          </div>
          <div class="post-block text-center wow fadeInUp" data-wow-duration="500ms">
            <div class="content">
              <div id="problemApproval" class="description">
                <h5>Problem Approval</h5>
              </div>
              <div class="form-group">
                <label>SMS</label>
                <input type="checkbox" class="form-control"
                       [checked]="(userSetting | async)?.communicationSetting.problemApproval.includes('SMS')" #smsProblemApproval>
                <label>Email</label>
                <input type="checkbox" class="form-control"
                       [checked]="(userSetting | async)?.communicationSetting.problemApproval.includes('EMAIL')" #emailProblemApproval>
                <label>Push Notifications</label>
                <input type="checkbox" class="form-control"
                       [checked]="(userSetting | async)?.communicationSetting.problemApproval.includes('PUSH_NOTIFICATIONS')" #emailProblemApproval>
                <div class="alert alert-danger" role="alert" *ngIf="errorObject && isProblemApprovalUpdatedError">
                  {{errorObject.message}}
                </div>
                <div *ngIf="(responseObject | async) && isProblemApprovalUpdatedSuccessfully" class="alert alert-primary" role="alert">
                  {{(responseObject | async)?.message}}
                </div>
              </div>
              <div class="btn-wrap">
                <a class="btn btn-green"><img src="assets/img/icons/check.svg" class="js-tosvg" (click)="onProblemApprovalBtnClicked(smsProblemApproval, emailProblemApproval, emailProblemApproval)"></a>
              </div>
            </div>
          </div>
          <div class="post-block text-center wow fadeInUp" data-wow-duration="500ms">
            <div class="content">
              <div id="sessionReminder" class="description">
                <h5>Session Reminder</h5>
              </div>
              <div class="form-group">
                <label>SMS</label>
                <input type="checkbox" class="form-control"
                       [checked]="(userSetting | async)?.communicationSetting.sessionReminder.includes('SMS')" #smsSessionRemainder>
                <label>Email</label>
                <input type="checkbox" class="form-control"
                       [checked]="(userSetting | async)?.communicationSetting.sessionReminder.includes('EMAIL')" #emailSessionRemainder>
                <label>Push Notifications</label>
                <input type="checkbox" class="form-control"
                       [checked]="(userSetting | async)?.communicationSetting.sessionReminder.includes('PUSH_NOTIFICATIONS')" #pushNotificationSessionRemainder>
                <div class="alert alert-danger" role="alert" *ngIf="errorObject && isSessionRemainderUpdatedError">
                  {{errorObject.message}}
                </div>
                <div *ngIf="(responseObject | async) && isSessionRemainderUpdatedSuccessfully" class="alert alert-primary" role="alert">
                  {{(responseObject | async)?.message}}
                </div>
              </div>
              <div class="btn-wrap">
                <a class="btn btn-green">
                  <img src="assets/img/icons/check.svg" class="js-tosvg"
                       (click)="onSessionReminderBtnClicked(smsSessionRemainder, emailSessionRemainder, pushNotificationSessionRemainder)"></a>
              </div>
            </div>
          </div>
          <div class="post-block text-center wow fadeInUp" data-wow-duration="500ms">
            <div class="content">
              <div id="consultantProfileApproval" class="description">
                <h5>Consultant Profile Approval</h5>
              </div>
              <div class="form-group">
                <label>SMS</label>
                <input type="checkbox" class="form-control"
                       [checked]="(userSetting | async)?.communicationSetting.consultantProfileApproval.includes('SMS')" #smsConsultantProfileApproval>
                <label>Email</label>
                <input type="checkbox" class="form-control"
                       [checked]="(userSetting | async)?.communicationSetting.consultantProfileApproval.includes('EMAIL')" #emailConsultantProfileApproval>
                <label>Push Notifications</label>
                <input type="checkbox" class="form-control"
                       [checked]="(userSetting | async)?.communicationSetting.consultantProfileApproval.includes('PUSH_NOTIFICATIONS')" #pushNotificationConsultantProfileApproval>
                <div class="alert alert-danger" role="alert" *ngIf="errorObject && isConsultantProfileApprovalUpdatedError">
                  {{errorObject.message}}
                </div>
                <div *ngIf="(responseObject | async) && isConsultantProfileApprovalUpdatedSuccessfully" class="alert alert-primary" role="alert">
                  {{(responseObject | async)?.message}}
                </div>
              </div>
              <div class="btn-wrap">
                <a class="btn btn-green"><img src="assets/img/icons/check.svg" class="js-tosvg"
                                             (click)="onConsultantProfileApprovalBtnClicked(smsConsultantProfileApproval, emailConsultantProfileApproval, pushNotificationConsultantProfileApproval)"></a>
              </div>
            </div>
          </div>
          <!--          </form>-->
        </div>
      </div>
    </div>    <!-- End row -->
  </div>
  <button class="btn btn-main btn--fixed js-toggle-filter">
    <img src="assets/img/icons/filter.svg" class="js-tosvg">
  </button>  <!-- End container -->
</section>   <!-- End section -->
