/*=================================================================
  Basic Setup
==================================================================*/
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,70%,100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%,70%,100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
/* CSS mfp-with-zoom class */
::-moz-selection {
  color: $white;
  background: $iBlue;
}
::selection {
  color: $white;
  background: $iBlue;
}
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
a {
  color: $white;
  transition: all .3s ease-in 0s;
  text-decoration: none;
  outline: 0;

  &:focus {
    text-decoration: none;
    outline: 0;
    color: $iGreen;
    box-shadow: none;
  }
  &:hover {
    text-decoration: none;
    outline: 0;
    color: $iGreen;
    box-shadow: none;
  }
}
iframe {
  border: 0;
}
.kill-margin-bottom {
  margin-bottom: 0 !important;
}
.padding-0 {
  padding: 0 !important;
}

.btn {
  background-color: transparent;
  color: $white;
  padding: 10px 30px;
  border-radius: 0;
  transition: all .3s ease-in 0s;
  &:focus {
    color: $iLightGray;
    outline: 0;
    box-shadow: none;
  }
  &:active {
    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
}

.btn-transparent {
  border: 1px solid $iDarkGray;
  &:hover {
    background-color: $iBlue;
    border: 1px solid transparent;
    color: $white;
  }
  &:focus {
    background-color: $iBlue;
    border: 1px solid transparent;
    color: $white;
  }
}

.btn-green {
  border: 1px solid transparent;
  background-color: $iGreen;
  color: $white;
  &:focus {
    background-color: $iGreen;
    border: 1px solid transparent;
    color: $white;
  }
  &:hover {
    background-color: $iGreenDark;
  }
}
.row-gutter-10 {
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.title {
  &.sub-title {
    padding: 0 0 15px;

    h5 {
      font-weight: bold;
      color: $iPrimary;
    }
  }
  &.center {
    display: flex;
    justify-content: center;

    .border {
      width: 100%;
    }
  }

}


.btn {
  &-red {
    border: 1px solid transparent;
    background-color: $iRed;
    color: $white;

    &:focus {
      background-color: $iRed;
      border: 1px solid transparent;
      color: $white;
    }
    &:hover {
      background-color: $iRedDark;
    }
  }

  &-blue {
    border: 1px solid transparent;
    background-color: $iBlue;
    color: $white;

    &:focus {
      background-color: $iBlue;
      border: 1px solid transparent;
      color: $white;
    }
    &:hover {
      background-color: $iBlueDark;
    }
  }
}


.form-control {
  background-color: transparent;
  border-radius: 0;
  border: 1px solid $iLightGray;
  padding: 5px 10px;
  color: $black;
  border-radius: 4px;
  font-size: 14px;
  height: 40px;

  &:focus {
    box-shadow: 0 0 0;
  }
  &::-webkit-input-placeholder {
    color: $iLightGray;
  }
  &:-moz-placeholder {
    color: $iLightGray;
  }
  &::-moz-placeholder {
    color: $iLightGray;
  }
  &:-ms-input-placeholder {
    color: $iLightGray;
  }
}
.border {
  border-right: 0 !important;
  border-top: 2px solid $white-alpha-07 !important;
  height: 1px;
  position: relative;
  width: 20%;

  &:before {
    content: '';
    height: 4px;
    width: 30%;
    position: absolute;
    left: 0;
    top: -2px;
    background-color: $iBlue;
  }
}

.color {
  color: $iGreen;
}

.sub-title {
  padding: 0 0 50px;
  >h3 {
    border-left: 3px solid $iLightGray;
    border-right: 3px solid $iLightGray;
    display: inline-block;
    padding: 5px 25px;
    text-transform: uppercase;
  }
}
.btn.active {
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}
.bg-one {
  background-color: $iDarkGray-2;
}
.bg-dark {
  background: $black;
}
.parallax-section {
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.no-padding {
  padding: 0 !important;
}
.inline-block {
  display: inline-block;
}
.btn-main {
  background: $iBlue;
  color: $white;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 35px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: bold;

  &:hover {
    background: $iBlue-1;
    color: $white;
  }
}
.btn--fixed {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 100;
}

.mt-20 {
  margin-top: 20px;
}
.section {
  padding: 50px 0;
}
.section-sm {
  padding: 35px 0;
}
.sub-section,
.section-xs {
  padding: 30px 0;
  &.first {
    padding: 0 0 30px;
  }

}
.sub-section {
  border-bottom: 1px solid $iLightGray;

  &:last-child {
    border: 0;
  }
}
#home {
  position: relative;
}
.preloader {
  background: $white;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  .sk-cube {
    width: 33%;
    height: 33%;
    background-color: $iBlue;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  }
  .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
}
.title {
  padding-bottom: 30px;
  h2 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 38px;
    color: $iDarkGray;
    text-align: left;
    span {
      color: $iBlue;
    }
  }
  p {
    color: $iDarkGray;
  }
}
.title.title-white {
  h2 {
    color: $white;
  }
}
.bg-gray {
  background: $white-1;
}
.section-bg {
  background: $black-1;
}
.overly {
  position: relative;
  &:before {
    content: '';
    background: $black-alpha-10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.header-bradcrumb {
  background: transparent;
  a {
    color: $white-2;
    font-weight: 200;
    font-family: "Quattrocento Sans", sans-serif;
    &:hover {
      color: $iBlue;
    }
  }
  .active {
    color: $white-2;
    font-weight: 200;
    font-family: "Quattrocento Sans", sans-serif;
  }
}
.slick-slide {
  outline: none;
}
.mfp-with-zoom {
  .mfp-container {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
}
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-with-zoom.mfp-ready {
  .mfp-container {
    opacity: 1;
  }
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-zoom.mfp-removing {
  .mfp-container {
    opacity: 0;
  }
}
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.pagination {
  li {
    margin: 5px;
    display: inline-block;
    a {
      background: $black;
      border: 0;
      color: $white;
      &:hover {
        background: $iBlue;
        color: $white;
      }
    }
    a.active {
      background: $iBlue;
      color: $white;
    }
  }
}
.pagination-lg {
  >li {
    &:first-child {
      >a {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
      >span {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
    &:last-child {
      >a {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      >span {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }
  }
}
.logo {
  margin-top: 10px;
  display: inline-block;
}
.single-page-header {
  //background-image: url("../images/about/about-header.jpg");
  background-size: cover;
  padding: 140px 0 70px;
  text-align: center;
  color: $white;
  position: relative;
  &:before {
    background: $black-alpha-50;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.banner {
  min-height: 50px;
  background: $iPrimary;

  .banner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: inherit;

    .seach-bar {
      align-self: center;
    }

    img {
      min-width: 260px;
    }
  }
}

.rate {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 0 0 20px;

  &:not(:checked) {
    > input {
      position: absolute;
      left: -1000%;
    }

    > label {
      font-size: 25px;
      line-height: 1;
      overflow: hidden;
      color: $iDarkGray-1;
      margin: 0;
      cursor: pointer;
      transition: color 0.2s ease-in-out;

      &:before {
        content: '★';
      }

      &:hover {
        color: $iYellowDark;

        ~ label {
          color: $iYellowDark;
        }
      }
    }
  }

  > input {
    &:checked {
      ~ label {
        color: $iYellow;
        &:hover {
          color: $iYellowDark;

          ~ label {
            color: $iYellowDark;
          }
        }
      }

      + label {
        &:hover {
          color: $iYellowDark;

          ~ label {
            color: $iYellowDark;
          }
        }
      }
    }
  }

  > label {
    &:hover {
      ~ input {
        &:checked {
          ~ label {
            color: $iYellowDark;
          }
        }
      }
    }
  }
}

.blue {
  h1, h2, h3, h4, h5, h6 {
    color: $iPrimary;
  }
}

.sub-banner {
  padding: 50px 0;

  @media #{$vpmobile} {
    padding: 25px 0;
  }
}

.modal {
  // .modal-header {
  //   border: 0;
  // }

  .modal-body {
    display: flex;
    align-items: flex-start;
    height: 100%;
    p {
      margin: 0;
    }
  }

  .modal-right-box{
    flex-direction: column;
  }
  .modal-subBox {
    flex-grow: 1;
      padding-top: 10px;
    .sub-catagory {
      padding: 10px;
      border: 1px solid $iLightGray;
      border-radius: 4px;
      margin: 0 0 10px;

      &:last-child {
        margin: 0;
      }

      p {
        margin: 0;
      }
    }
  }

  .modal-box {
    flex: 0 0 70%;
    max-width: calc(70% - 20px);
    padding: 10px;
    margin: 0 20px 0 0;
    border: 1px solid $iLightGray;
    height: 100%;
    border-radius: 4px;
  }

  .modal-dialog {
    max-width: 1000px;
    width: 100%;
    height: 800px;

    .modal-content {
      height: 100%;
    }
  }
}


.rated {
  font-size: 25px;
  color: $iLightGray;
  display: flex;
  align-items: center;
  justify-content: center;

  .stars {
    display: block;
    padding: 0 2px;

    &.checked {
      color: $iYellow;
    }
  }
}


@media (max-width: 480px) {
  .section {
    padding: 50px 0;
  }
}
@media (max-width: 768px) {
  .section {
    padding: 50px 0;
  }
}
