/*=================================================================
 Call To Action 1
==================================================================*/

.call-to-action {
	background-attachment: fixed;
	h2 {
		font-weight: 700;
		color: $iDarkGray-1;
	}
	p {
		font-size: 16px;
		color: $iDarkGray;
	}
	.btn-main {
		margin-top: 20px;
	}
}

/*=================================================================
 Call To Action 2
==================================================================*/
.call-to-action-2 {
	padding: 100px 0;
	//background-image: url("../images/call-to-action/call-to-action-bg.jpg");
	background-size: cover;
	color: $white;
	h2 {
		line-height: 1.5;
	}
	p {
		color: $white;
	}
	.btn-main {
		margin-top: 20px;
	}
}
.contact-us {
	padding-top: 50px;
}
.contact-form {
	margin-bottom: 60px;
	.form-control {
		background-color: transparent;
		border: 1px solid $iLightGray;
		height: 40px;
	}
	textarea.form-control {
		padding: 10px;
		height: 120px;
	}
	input {
		&:hover {
			border-color: $iBlue;
		}
	}
	textarea {
		&:hover {
			border-color: $iBlue;
		}
	}
}
#contact-submit {
	&:hover {
		border-color: $iBlue;
	}
	border: 1px solid $white-alpha-07;
	background: $iBlue;
	padding: 12px 0;
	width: 100%;
	margin: 0;
}
.google-map {
	#map-canvas {
		height: 400px;
	}
}
.contact-info {
	p {
		margin-bottom: 25px;
	}
}
.con-info {
	margin-bottom: 20px;
	i {
		float: left;
	}
	span {
		float: left;
		margin: -5px 0 0 15px;
	}
}
.error {
	display: none;
	padding: 10px;
	color: $iRed;
	border-radius: 4px;
	font-size: 13px;
	background-color: $iRed-1;
}
.success {
	background-color: $iGreen;
	border-radius: 4px;
	color: $white;
	display: none;
	font-size: 13px;
	padding: 10px;
}
#map {
	height: 370px;
	width: 100%;
}
