/*=================================================================
  Dashboard section
==================================================================*/
.dashboard {
	.post-block {
		.content {
			padding: 0;
			border: 0;
			align-items: initial;
			justify-content: flex-end;

			.btn-box {
				&:first-child {
					margin: 0;
				}
			}
		}

		&.profile {
			padding: 0;

			.media-wrapper {
				margin: 0;
			}
		}

		.btn-wrap {
			&:last-child {
				border-left: 1px solid $iLightGray;
			}
		}
	}

	.title {
		display: flex;
		align-items: center;
    justify-content: center;
		.heading {
			flex-grow: 1;
		}

		.border {
			width: 40%;
		}

		.seach-bar {
			flex: 0 0 40%;
			max-width: 40%;
		}
	}

	.element-btn-wrap {
		justify-content: flex-end;
	}

	.problems {
		.info-content {
			padding: 0;
		}
	}

	.serri {
		.custom-grid {
			flex: 0 0 33.33%;
			max-width: 33.33%;
			height: 100%;
			padding: 0 10px;

			@media #{$vptabletP} {
				flex: 0 0 50%;
				max-width: 50%;
				padding-bottom: 15px;
			}

			@media #{$vpmobile} {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}

		.post-block {
			padding: 15px;

			&.profile {
				padding: 0;

				.media-wrapper {
					width: 50px;
					height: 50px;

					&.last {
						margin-left: 15px;

						img {
							top: 4px;
							right: 2px;
							width: initial;
							height: inherit;
						}
					}
				}
			}

			.content {
				align-items: center;
				padding: 10px 0;
				border-bottom: 1px solid $iLightGray;

				&:first-child {
					padding: 0 0 10px;
				}

				&:last-child {
					padding: 10px 0 0 0;
					border: 0
				}

				.description {
					flex-direction: column;
    				align-items: flex-start;
					margin: 0 20px 0 0;

					@media #{$vpmobile} {
						order: inherit;
						flex-basis: auto;
						flex-grow: 1;
					}
				}

				.media-wrapper {
					width: 10px;
					height: 12px;
					margin: 0;
					padding: 0;
					border-radius: 0;
					background: transparent;
				}
			}

			.icon-wrap {
				width: auto;
				margin: 0 10px 0 0;

				.skill-icon {
					width: 30px;
					height: 30px;
					padding: 0;
					background-color: transparent;
				}
			}

			&.step-block {
				padding: 0;
				border: 0;
				border-radius: 0;

				&.activity-log {
					max-width: 100%;

					.content {
						display: block;

						.description {
							margin: 0;
						}
					}
				}

				.content {
					border: 1px solid $iLightGray;
					padding: 10px;
					border-radius: 4px;
					margin: 0 0 15px;

					.description {
						align-items: flex-end;
						flex-grow: 0;
						margin: 0 20px;
					}
				}
			}

			&.session-block {
				padding: 0;

				.content {
					border: 0;
					padding: 0;
					border-radius: 4px;
					padding: 15px;

					&.upcoming-session {
						min-height: 150px;
						height: auto;
						border: 0;
						border-radius: 0;
						border-bottom: 1px solid $iLightGray;
						padding: 0;

						.description {
							align-items: center;
						}
					}

					.icon-wrap {
						flex-grow: 1;
						flex-direction: row;
						justify-content: space-between;
						align-items: flex-end;
						padding: 10px 10px 0 10px;
						margin: 0;
						border: 1px solid #d2d2d2;

						.middle {
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}

	.user-icons {
		.post-block {
			&.profile {
				.media-wrapper {
					margin: 0 30px 0 0;
				}
			}
		}
	}
}

.flex--body {
	display: flex;
	flex-direction: row;
}

/*=================================================================
  consult  section
==================================================================*/
.consult {
	article {
		padding-bottom: 20px;

		@media #{$vptabletP} {
			padding-bottom: 15px;
		}
	}
}

.consult-block {
	padding: 30px 20px;
	border: 1px solid $iLightGray;
	border-radius: 4px;

	.post-block {
		&.profile {
			margin: 0 0 20px;

			.media-wrapper {
				width: 100px;
				margin: auto;

				img {
					right: 2px;
				}
			}
		}
	}

	.consult-icon {
		margin-bottom: 10px;
		font-size: 50px;
	}
}

/*=================================================================
  Services section 2
==================================================================*/
.consult-2 {
	.consult-item {
		border: 1px solid $white;
		margin-bottom: 30px;
		padding: 50px 20px;
		transition: all 0.3s ease 0s;

		&:hover {
			box-shadow: 0 5px 65px 0 $black-alpha-10;
			-webkit-box-shadow: 0 5px 65px 0 $black-alpha-10;
			i {
				background: $white;
				color: $iBlue;
			}
		}

		i {
			font-size: 30px;
			display: inline-block;
			background: $iBlue none repeat scroll 0 0;
			border-radius: 30px;
			box-shadow: 0 5px 6px 0 $black-alpha-10;
			color: $white;
			height: 55px;
			line-height: 55px;
			margin-bottom: 20px;
			width: 55px;
			transition: all 0.3s ease 0s;
		}
	}
}

.seach-bar {
	label {
		position: relative;
		width: 100%;
		margin: 0;
    display: flex;

		&:before {
			content: '';
			width: 15px;
			height: 15px;
			position: absolute;
			left: 15px;
			top: 50%;
			transform: translateY(-50%);
			background: url('../img/icons/search.svg') no-repeat center / contain;
		}

		input {
			background: $white;
			border-radius: 4px;
			height: 40px;
      padding: 10px 20px 10px 40px;

			&::placeholder {
				font-size: 18px;
				color: $iDarkGray;
			}
		}
	}
}

.padding--right {
	padding-right: 20px;
}

.padding--left {
	padding-left: 20px;
}

