/*=================================================================
  Footer section
==================================================================*/
.footer {
	background-color: $iDarkGray;

	span, strong, p, a {
		font-size: 14px;
		color: $white;
	}

	ul {
		li {
			a {
				display: block;
				padding: 2px 0;

				&:hover {
					color: $iBlue;
				}
			}
		}
	}
}

.footer-top {
	padding: 50px 0 10px;

	ul {
		@media #{$vpmobile} {
			padding: 0 0 15px;
		}

		li {
			strong {
				display: block;
				padding: 0 0 7px;

				&:hover {
					color: $iBlue;
				}
			}
		}
	}

	.followers {
		strong {
			font-size: 1.25rem;
    		text-transform: lowercase;
		}
	}
}

.social-icon {
	ul {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		li {
			padding: 0 10px;

			&:hover {
				a {

				}
			}

			a {
				display: block;
				height: 30px;
				width: 30px;
				padding: 0;
			}
		}
	}
}

.footer-logo {
	.logo {
		max-width: 145px;

		img {
			width: 100%;
			margin: 0;
		}
	}
}

.footer-nav {
	display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-bottom {
	display: flex;
    align-items: center;
	justify-content: space-between;
	padding: 10px 0 50px;
	border-top: 1px solid $iLightGray;

	@media #{$vptabletP} {
		flex-direction: column;
		padding-bottom: 30px;

		.footer-logo {
			order: 1;
			padding: 0 0 20px;
		}

		.social-icon {
			order: 2;
			padding: 0 0 30px;
		}

		.footer-nav {
			order: 3;
		}
	}

	.navigation-menu {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		@media #{$vpmobile} {
			flex-wrap: wrap;
			justify-content: center;
		}

		li {
			padding: 0 10px;

			a {
				font-weight: bold;
				letter-spacing: 1px;

				&:hover {
					color: $iBlue;
				}
			}
		}
	}
}

#scrollUp {
	border: 1px solid $iDarkGray;
	bottom: 15px;
	color: $white;
	display: none;
	padding: 8px 12px;
	position: fixed;
	right: 20px;
	z-index: 600;

	&:hover {
		background-color: $iBlue;
		border: 1px solid $iBlue;
	}
}

/*=================================================================
  Twitter Feed
==================================================================*/
#twitter-feed {
	//background-image: url("../images/parallax/twitter.jpg");
	padding-bottom: 100px;
	padding-top: 80px;
}

.twitter-bird {
	span {
		border: 2px solid $iGreen;
		border-radius: 50px;
		color: $iGreen;
		display: inline-block;
		margin-bottom: 50px;
		height: 90px;
		width: 90px;
		i {
			line-height: 90px;
		}
	}
}

.tweet {
	margin-bottom: 10px;

	a {
		color: $iGreen;
	}
}

@media (max-width: 768px) {
	.social-icon {
		ul {
			li {
				a {
					width: 20px;
					height: 20px;
				}
			}
		}
	}
}
