/*=================================================================
  Navigation
==================================================================*/
.navigation {
	background-color: $white;
	width: 100%;
	z-index: 99;
	margin-bottom: 0;
	padding: 15px 0;
	box-shadow: 1px 1px 6px $black-alpha-10;
  position: sticky;

	&.nav-home {
		nav,
		.navbar-toggle {
			display: none;
		}

		.navbar-header {
			@media #{$vpmobile} {
				flex-grow: 0;
			}
		}
	}

	.nav-btn {
		.first {
			margin-right: 20px;
		}
	}

	.navbar-header {
		display: flex;
		align-items: center;

		@media #{$vpmobile} {
			flex-grow: 1;
			justify-content: space-between;
			flex-direction: row-reverse;
		}
	}

	.logo {
		padding: 0;
		height: auto;
		margin-top: 0;

		img {
			height: auto;
			max-width: 150px;
			width: 100%;

			@media #{$vpmobile} {
				max-width: 100px;
			}
		}
	}

	.navbar-collapse {
		flex-basis: auto;
		justify-content: flex-end;

		@media (min-width: 767px) {
			display: flex;
		}

		@media #{$vpmobile} {
			flex-basis: 100%;
		}

		.navbar-nav {
			align-items: flex-end;
		}

		.navigation-menu {
			flex-direction: row;

			@media #{$vpmobile} {
				flex-direction: column;
				align-items: flex-start;
			}

			li.active {
				a {
					color: $iBlue;
				}
			}

			li {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 0 15px;
				height: 100%;

				@media #{$vpmobile} {
					flex-direction: row;
					padding: 10px 0;
					width: 100%;
					justify-content: flex-start;
					border-bottom: 1px solid $iLightGray;

					&:first-child {
						padding-top: 20px;
					}
				}

				.notification-dropdown {
					li {
            cursor: pointer;
						padding: 8px;
					}

					.dropdown-box {
						display: flex;
						align-items: center;
						justify-content: flex-start;

						span {
							font-size: 16px;
						}

						.img-wrap {
							padding: 0 10px 0 0;
							img {
                max-width: none;
								width: 50px;
							}
						}
					}
				}

				.dropdown {
					display: block;
					position: absolute;
					text-align: left;
					background: $white;
					right: 0;
					bottom: -10px;
					transform: translateY(100%);
					opacity: 0;
					visibility: hidden;
					padding: 15px;
					width: 360px;
    				border-radius: 4px;
					box-shadow: 1px 1px 6px $black-alpha-10;
					transition: opacity 0.2s linear, visibility 0.2s linear, height 0.2s linear;

					&.show {
						opacity: 1;
						visibility: visible;
					}

					&.height--mobile {
						@media #{$vpmobile} {
							height: 0 !important;
						}
					}

					.dropdown-title {
						display: flex;
						padding: 0 0 10px;
						border-bottom: 1px solid $iLightGray;
						align-items: center;
						justify-content: space-between;

						&.no-border {
							border: 0;
							padding: 0;
						}

						.title {
							font-size: 18px;
							margin: 0;
							padding: 0;
						}

						.logout {
							display: flex;
							align-items: center;
							justify-content: flex-end;
							padding: 0 0 0 15px;
							flex-shrink: 0;

							img {
								width: 20px;
							}

							span {
                cursor: pointer;
								display: block;
								padding: 0 0 0 10px;
							}
						}
					}

					.dropdown-subheading {
						padding: 10px 0;
						border-bottom: 1px solid $iLightGray;

						.heading {
							font-size: 16px;
							font-weight: bold;
							margin: 0;
							padding: 0 0 5px;
						}

						li {
							align-items: flex-start;
							padding: 0;

							@media #{$vpmobile} {
								padding: 5px 0 0;
								border: 0;
							}

							&:before {
								display: none;
							}

							a {
								line-height: inherit;
								cursor: pointer;
							}
						}

						&:last-child {
							padding: 10px 0 0;
							border: 0;
						}
					}

					@media #{$vpmobile} {
						position: relative;
						width: 100%;
						transform: translate(0, 0);
						box-shadow: none;
						padding: 0;
						opacity: 1;
						visibility: visible;
						overflow: hidden;
					}
				}

				.dropdown-wrap {
					.desktop {
						@media #{$vpmobile} {
							display: none;
						}
					}
					.mobile {
						display: none;
						@media #{$vpmobile} {
							display: flex;
						}
					}

					@media #{$vpmobile} {
						display: flex;
						width: 100%;
						margin: 0 0 10px;
					}
				}

				&.nav-dropdown {
					position: relative;

					a {
						display: flex;
						align-items: center;
						justify-content: flex-start;

						span {
							display: block;
							padding: 0 5px 0 0;
						}

						img {
							height: 10px;
							width: 15px;
						}
					}

					&.last {
						padding: 0 15px 0 35px;

						&:before {
							content: '';
							width: 1px;
							height: 100%;
							position: absolute;
							left: 10px;
							top: 50%;
							transform: translateY(-50%);
							background: $iDarkGray;
						}

						@media #{$vpmobile} {
							padding: 0;

							&:before {
								display: none;
							}
						}
					}

					@media #{$vpmobile} {
						display: flex;
						flex-direction: column;
						padding: 10px 0;
						border: none;

						a {
							justify-content: space-between;
    						width: 100%;
						}
					}
				}

				img {
					width: 30px;

					&.custom-pic {
						border-radius: 50%;
					}
				}

				a {
					font-size: 14px;
					color: $iDarkGray-2;
					line-height: 1;
					padding: 5px 0 0;

					@media #{$vpmobile} {
						padding: 0 0 0 10px;
					}

					&:hover {
						background: transparent;
						color: $iPrimary;
					}

					&:focus {
						background: transparent;
						color: $iPrimary;
					}
				}
			}
		}
	}
}

.navbar-toggle {
	display: none;
	border: 1px solid $iLightGray;
	border-radius: 4px;
	padding: 5px;

	@media #{$vpmobile} {
		display: block;
	}

	&:focus {
		border-color: $iLightGray;
	}

	span {
		background: $white;
	}

	.icon-bar {
		background: #9E9E9E;
		height: 2px;
		width: 20px;
		display: block;
		margin: 5px;
	}
}

.bg-1 {
	//background-image: url("../images/backgrounds/bg-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-2 {
	//background-image: url("../images/backgrounds/bg-2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.hero-area {
	background-size: cover;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	.block {
		text-align: center;
		z-index: 99;

		.video-button {
			a {
				background: $white;
				display: inline-block;
				height: 60px;
				width: 60px;
				border-radius: 50px;
				line-height: 60px;
				font-size: 20px;
				margin-left: 3px;
				color: $iBlue;
			}
		}

		h1 {
			font-size: 90px;
			color: $white;
			text-transform: capitalize;
			font-weight: 700;
			margin-bottom: 20px;
		}

		p {
			color: $white;
			font-size: 20px;
			width: 70%;
			margin: 0 auto;
		}

		.btn-transparent {
			margin-top: 40px;
			border-color: $white;
			padding: 14px 50px;
			font-size: 18px;
			font-size: 16px;
			font-weight: bold;
			letter-spacing: 1px;
		}
	}
}

.hero-video {
	left: 50%;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.overlay {
	position: relative;
	&::before {
		content: '';
		background: $black-alpha-70;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		left: 0;
	}
}

.dark-bg {
	background: $black-alpha-70;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
}

@media (max-width: 480px) {
	.hero-area {
		.block {
			h1 {
				font-size: 60px;
			}
		}
	}
}
