/*=================================================================
  Home section
==================================================================*/
.home {
	padding: 0 0 50px;

	@media #{$vpmobile} {
		padding: 0 0 20px;
	}

	.consult-block {
		display: flex;
		flex-direction: column;
		padding: 10px;
		margin: 0;
		height: 100%;
		background: $white;

		p {
			flex-grow: 1;
		}

		.post-block {
			&.profile {
				margin: 0 0 10px;
			}
		}
	}

	.sub-section {
		border: 0;
	}

	&.banner {
		background-color: transparent;

		.banner-wrap {
			position: relative;

			.img-wrapper {
				position: relative;
				padding-top: 56.25%;
				overflow: hidden;
				width: 100%;

				img {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 100%
				}
			}

			.seach-bar {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				text-align: center;
				max-width: 50%;
				width: 100%;
				padding: 0 10px;

				@media #{$vptabletP} {
					max-width: 70%;
				}

				@media #{$vpmobile} {
					max-width: 100%;
				}

				.title {
					margin: 0;

					@media #{$vpsmobile} {
						font-size: 20px;
						padding-bottom: 10px;
					}
				}

				p {
					color: $white;
					margin: 0;
					padding-bottom: 20px;

					@media #{$vpmobile} {
						padding-bottom: 10px;
					}
				}
			}
		}
	}
}

.sub-banner {
	position: relative;

	.img-wrapper {
		background: $iPrimary;

		img {
			width: 100%;
		}
	}

	.content {
		position: absolute;
		right: 10%;
		top: 50%;
		transform: translateY(-50%);
		text-align: right;

		@media #{$vptabletP} {
			right: 5%;
		}

		@media #{$vpsmobile} {
			right: 5%;
		}

		.title {
			text-transform: uppercase;
			font-size: 2.5rem;
			font-weight: bold;
			color: $white;
			padding: 0;

			@media #{$vpmobile} {
				font-size: 1.5rem;
			}

			@media #{$vpsmobile} {
				font-size: 16px;
			}
		}

		p {
			font-size: 1.25rem;
			font-weight: bold;
			color: $white;
			margin-bottom: 0;

			@media #{$vpsmobile} {
				font-size: 12px;
			}
		}
	}
}

.home-work {
	background-color: $black-1;
	margin-bottom: 10px;

	&:hover {
		.mask {
			cursor: pointer;
			opacity: 1;
			filter: alpha(opacity=100);
			-webkit-transform: rotateY(0deg) scale(1, 1);
			transform: rotateY(0deg) scale(1, 1);
		}
	}
}

.how-it-work {
	display: flex;
    flex-direction: column;
	height: 100%;
	padding-bottom: 15px;
}

.work-photo {
	overflow: hidden;
	position: relative;

	&:hover {
		img {
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
		}
	}

	img {
		transition: all 0.4s ease 0s;
	}

	.mask {
		background-color: $iBlue-alpha-70;
		position: absolute;
		text-align: center;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		transition: all .5s ease-out 0s;
		-webkit-transform: rotateY(180deg) scale(0.5, 0.5);
		transform: rotateY(180deg) scale(0.5, 0.5);

		ul {
			text-align: center;
			position: relative;
			top: 125px;

			li {
				a {
					border: 1px solid $white;
					color: $white;
					display: block;
					font-size: 20px;
					height: 35px;
					line-height: 35px;
					text-align: center;
					width: 35px;

					&:hover {
						background-color: $white;
						color: $iBlue;
						border: 1px solid transparent;
					}
				}
			}
		}
	}
}

.work-meta {
	position: relative;
    padding: 15px 0 10px;
    flex-grow: 1;

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		display: block;
		width: calc(100% - 50px);
		height: 1px;
		background-color: $iDarkGray;
	}

	h4 {
		margin: 0 0 5px;
	}

	span {
		font-size: 12px;
	}
}

@media (max-width: 768px) {
	.work-photo {
		img {
			height: 100%;
			width: 100%;
		}
	}
}
