.register-wrap {
	&.contact-form {
		margin: 0;

		@media #{$vpmobile} {
			max-width: 375px;
			margin: 50px auto 0;
		}
	}

	.btn-wrap {
		display: flex;
		align-items: center;
		justify-content: center;

		.btn {
			position: relative;
			padding: 1rem 20px;
			flex: 0 0 50%;
			max-width: 50%;
			border: 1px solid $iLightGray;
			background-color: $white-1;
			color: $black;
			font-weight: bold;

			&:hover {
				background: $white-2;
			}

			&:after {
				content: '';
				display: none;
				width: 100%;
				height: 2px;
				position: absolute;
				left: 0;
				bottom: -1px;
				background: $iBlue;
			}

			&.is--active {
				color: $black;
				background: $white;
				border-bottom-color: transparent;

				&:after {
					display: block;
				}

				&:hover {
					background: $white-2;
				}
			}
		}

	}
}

.img-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

}

.card {
	display: none;
	justify-content: center;
	border-color: $iLightGray;
	border-top: 0;

	&.show {
		display: flex;
	}
}

.card-register,
.card-login {
    background-color: $white;
    border-radius: 0;
    color: $white;
    margin: 0 0 20px;
    min-height: 400px;
	padding: 70px 30px 50px;

	@media #{$vpsmobile} {
		padding: 50px 15px 30px;

	}

    label {
        margin-top: 15px;
    }

    .card-title {
        color: $iRed;
        text-align: center;
    }

    .btn {
        width: 100%;
    }

    .forgot {
		text-align: center;

		.btn {
			background: transparent;
			color: $iBlue;
			margin-top: 5px;
			border: none;
			font-size: 12px;

			&:hover {
				color: $iBlue-1;
			}
		}
	}

    .input-group-text {
        border: 1px solid $white;
    }
}
