/*=================================================================
  Portfolio section
==================================================================*/
.portfolio-filter {
	margin-bottom: 40px;
	text-align: center;
	button {
		border: none;
		outline: none;
		border: 1px solid $white-alpha-07;
		background: transparent;
		display: inline-block;
		font-size: 16px;
		padding: 6px 20px;
		font-weight: 700;
		color: $iDarkGray;
		transition: .3s all;
	}
	button.active {
		border: 1px solid $iBlue;
		color: $iBlue;
	}
}
.portfolio-items-wrapper {
	.mix {
		padding: 5px;
	}
}
.portfolio-block {
	position: relative;
	margin-bottom: 20px;
	&:before {
		transition: all 0.3s ease-in-out;
		background: $white;
		opacity: 0;
		top: 20px;
		right: 20px;
		bottom: 20px;
		left: 20px;
		position: absolute;
		content: '';
	}
	img {
		width: 100%;
		height: auto;
	}
	&:hover {
		&:before {
			opacity: 1;
		}
		.caption {
			h4 {
				top: 45%;
			}
			opacity: 1;
			top: 55%;
		}
	}
	.caption {
		position: absolute;
		top: 50%;
		left: 50%;
		opacity: 0;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		z-index: 9;
		transition: all 0.2s ease-in-out;
		text-align: center;
		h4 {
			font-size: 16px;
			font-weight: 600;
			a {
				color: $iDarkGray;
			}
		}
		.search-icon {
			background: $iBlue;
			width: 50px;
			height: 50px;
			color: $white;
			display: inline-block;
			font-size: 20px;
			border-radius: 30px;
			i {
				line-height: 50px;
			}
		}
	}
}
