/*=================================================================
  Session section
==================================================================*/
.post {
	.post-block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;
		border: 0;

		&.next-sec {
			justify-content: center;

			.icon-wrap {
				margin: 0;
			}

			.skill-icon {
				width: 100px;
				height: 100px;
				padding: 15px;
			}

			span {
				font-size: 2rem;
				font-weight: bold;
			}
		}

		.content {
			padding: 30px;
			border: 1px solid $iLightGray;
			border-radius: 4px;
			flex-grow: 1;
			justify-content: flex-start;
		}

		.media-wrapper {
			margin: 0;
		}

		&.profile {
			padding: 0;
			margin: 0 0 0 50px;
		}
	}

	.text-editor {
		display: block;
	}
  .ql-container {
    height: 300px !important;
    width: 100%;
  }

}
