/*=================================================================
  Pricing section
==================================================================*/
.price-item {
	border: 1px solid $white-alpha-07;
	padding-bottom: 30px;
	margin-bottom: 15px;
}
.price-title {
	background-color: $black-1;
	padding: 30px 0 20px;
	h3 {
		color: $iBlue;
		margin: 0 0 10px;
		text-transform: uppercase;
	}
	p {
		font-size: 18px;
		font-weight: 400;
	}
	.value {
		color: $iBlue;
		font-size: 30px;
	}
}
.pricing {
	li {
		padding: 10px 0;
		&:last-child {
			border-bottom: 1px solid $white-alpha-07;
			margin-bottom: 20px;
		}
		&:nth-child(2n) {
			background-color: $black-1;
		}
		.btn {
			text-transform: uppercase;
			margin: 20px 0;
		}
	}
}
