/*=================================================================
  Problems section
==================================================================*/
.problems {
  .title {
    h2 {
      text-align: center;
    }
  }
  .banner-wrap {
    .img-end {
      margin: 0 80px 0 0;
    }

    .seach-bar {
      flex-grow: 1;

      .title {
        font-size: 2rem;
        padding-bottom: 15px;
        color: $white;
        text-align: center;
      }

      label {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0 30px;

        &:before {
          content: '';
          width: 20px;
          height: 20px;
          position: absolute;
          left: 50px;
          top: 50%;
          transform: translateY(-50%);
          background: url('../img/icons/search.svg') no-repeat center / contain;
        }

        input {
          background: $white;
          border: 0;
          border-radius: 24px;
          height: 50px;
          padding: 10px 30px 10px 60px;

          &::placeholder {
            font-size: 18px;
            color: $iDarkGray;
          }
        }
      }
    }
  }

  .post-block  {
    padding: 30px;
    margin-bottom: 50px;
    &.padd--mod{
      padding: 10px 30px 20px;
    }

    @media #{$vpmobile} {
      padding: 20px;
    }


    &:last-child {
      margin: 0;
    }

    &.profile {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 30px 0;
      flex-wrap: wrap;

      .media-wrapper {
        margin: 0 30px 0 0;
        padding: 5px;
        width: 85px;
        height: 85px;
        background: $iPrimary;

        @media #{$vpmobile} {
          margin: 0 15px 0 0;
        }


        img {
          top: 4px;
          right: 2px;
        }
        input {
          display: none;
        }

        &.last {
          .addbtn-problem {
            margin: 0;
            img {
              top: 22px;
              left: 22px;
              width: 30px;
              height: 30px;
              margin: auto;
            }
          }
          margin: 0;
          img {
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            margin: auto;
          }
        }
      }
    }

    .review-wrap {
      flex-shrink: 0;
      margin: 0 0 0 30px;

      .requests,
      .views {
        display: flex;
        flex-direction: column;

        span {
          display: block;
          font-size: 20px;
          font-weight: bold;
          color: $iLightGreen;
          padding: 0 0 5px;
        }

        p {
          margin: 0;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: bold;
          color: $iDarkGray-2;
        }
      }

      .views {
        border-bottom: 2px solid $iDarkGray;
        padding: 0 0 5px;
      }
    }

    .icon-wrap {
      flex-shrink: 0;
      margin: 0 30px 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media #{$vpmobile} {
        flex-direction: column-reverse;
      }

      @media (max-width: 475px) {
        width: 100%;
        margin: 0;
      }


      .skill-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $iBlue;
        border-radius: 50%;
        width: 65px;
        height: 65px;
        border: 0;
        margin: 0;
        padding: 10px;

        &.cancelled {
          background: $iRed;

          img {
            margin: auto;
            width: 30px;
            height: 30px;
          }
        }

        &.pending {
          background: $iYellow;
        }
        &.resolved {
          background:$iGreen;
        }
        &.scheduled {
          background:$iDarkGray-1;
        }
        &.draft {
          background: $iOrange;
          img {
            margin: auto;
            width: 40px;
            height: 40px;
          }
        }
      }

      span {
        display: block;
        font-size: 18px;
        padding: 5px 0 0;
        color: $iDarkGray;
      }
    }

    .content {
      padding: 0 0 25px;
      border-bottom: 1px solid $iLightGray;

      .card-btn-wrap {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;

        @media #{$vptabletP} {
          flex-direction: column;
        }

        @media #{$vpmobile} {
          flex-direction: row;
        }

        @media (max-width: 475px) {
          width: 100%;
          justify-content: space-around;
        }


        .btn-wrap {
          @media #{$vpmobile} {
            margin: 0 0 0 30px;
          }
          @media #{$vptabletP} {
            margin: 10px auto 0;
          }

          @media #{$vpmobile} {
            margin: 0;
          }


        }

        .review-wrap {
          @media #{$vptabletP} {
            margin: 10px auto 0;
          }
        }
      }

      .description {
        padding: 0;
        margin: 0 30px;
        border-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .subtitle{
          color:$iBlue
        }
        @media #{$vpmobile} {
          margin: 15px 0 0;
        }

        p {
          margin: 0;
          text-align: left;
          color: $iDarkGray-2;
        }
      }

      .btn-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 30px 0 0;

        &:last-child {
          margin: 0;
        }

        .btn-green {
          margin: 0;
        }

        .btn-blue {
          margin: 0;
        }

        span {
          display: block;
          padding: 5px 0 0;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
  }

  .block {
    background: $black;
    padding: 30px;
    border-bottom: 2px solid transparent;
    transition: .5s all;
    margin-bottom: 20px;

    &:hover {
      border-bottom: 2px solid $iBlue;
      .icon-box {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
      }
    }

    .icon-box {
      position: relative;
      width: 160px;
      height: 92.38px;
      background-color: transparent;
      margin: 46.19px auto 60px;
      padding: 20px 0;
      border-left: 2px solid $white-alpha-07;
      border-right: 2px solid $white-alpha-07;
      font-size: 50px;
      -webkit-transform: translateZ(0px);
      transform: translateZ(0px);
      transition-duration: 0.3s;
      transition-property: -webkit-transform;
      transition-property: transform;
      transition-property: transform, -webkit-transform;

      &:after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 113.14px;
        height: 113.14px;
        background-color: inherit;
        left: 20.4315px;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        bottom: -56.5685px;
        border-bottom: 2px solid $white-alpha-07;
        border-left: 2px solid $white-alpha-07;
      }

      &:before {
        content: "";
        position: absolute;
        z-index: 1;
        width: 113.14px;
        height: 113.14px;
        background-color: inherit;
        left: 20.4315px;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        top: -56.5685px;
        border-top: 2px solid $white-alpha-07;
        border-right: 2px solid $white-alpha-07;
      }

      h3 {
        color: $iLightGray;
      }
    }
  }
}

.chips-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  .chips {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 10px;
    border: 1px solid $iGray;
    border-radius: 30px;
    margin: 15px 50px 0 0;

    @media #{$vpmobile} {
      margin: 15px 20px 0 0;
    }

    img {
      width: 100%;
      max-width: 15px;
    }

    span {
      display: block;
      color: $iGray;
      font-size: 12px;
      font-weight: bold;
      flex-shrink: 0;
      padding: 0 0 0 15px;
      text-transform: uppercase;
    }
  }
}

/*=================================================================
  Problems-2 section
==================================================================*/
.problems-2 {
  .content-block {
    padding: 40px;
    .media {
      margin-top: 25px;
      .pull-left {
        padding-right: 15px;
      }
      i {
        font-size: 30px;
        color: $iBlue;
      }
      h4 {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}
