/*=================================================================
  Latest Posts
==================================================================*/
.note {
	background-color: $black-1;
	border: 1px solid $iDarkGray;
	.media-wrapper {
		border-bottom: 1px solid $iDarkGray;
	}
	.excerpt {
		h3 {
			font-size: 20px;
			line-height: 1.5;
			text-transform: capitalize;
		}
	}
}

.skills-wrap {
	margin-bottom: 30px;

	.post-block {
		margin: 0;
		margin-bottom: -3px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.post-block {
	background-color: $white;
	color: $iDarkGray;
	border: 1px solid $iLightGray;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 30px;

	&.msg-box {
		padding: 0;

		.content {
			border: 0;
			padding: 20px;

			.description {
				padding: 0;
			}
		}

		h2, h3, h4, h5 {
			margin: 0;
		}

		.btn-wrap {
			padding: 0;
			margin: 0;
			border: 0;

			.btn-box {
				padding: 0;
				margin: 0;
				border: 0;

				.post-block {
					&.profile {
						padding: 30px 0;
		
						.media-wrapper {
							background-color: $iYellow;
							margin: 0 30px 0 0;
		
							img {
								top: 0;
								right: 0;
							}
						}
					}
				}
			}
		}
	}

	&.profile {
		border: 0;
		margin: 0 0 10px;

		.media-wrapper {
			width: 225px;
			background-color: $iDarkGray-1;
			margin: auto;
			overflow: hidden;

			img {
				width: 100%;
				position: relative;
				top: 12px;
				right: 6px;
			}
		}

		.btn-wrap {
			margin-top: 20px;
		}
	}

	&.skills {
		display: flex;
		flex-wrap: wrap;
		padding: 20px;

		span {
			display: block;
			padding: 5px 20px;
			font-weight: 700;
			border-radius: 20px;
			border: 1px solid $iLightGray;
			margin: 5px;

		}
	}

	.media-wrapper {
		display: flex;
		width: 40px;
		padding: 12px;
		margin-left: calc(100% - 40px);
		background: $iBlue;
		border-radius: 50%;
	}

	.content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 40px 30px;

		.description {
			flex-grow: 1;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 0 50px 0 20px;
			padding: 0 0 10px;
			border-bottom: 1px solid $iLightGray;

			span {
				font-size: 18px;
				font-weight: bold;

				small {
					font-size: 18px;
					font-weight: bold;
				}
			}
		}

		.skill-icon {
			height: 75px;
			margin: 0 30px 0 0;
			padding: 20px;
			border-radius: 4px;
			background-color: $white;
			border: 1px solid $iLightGray;

			img {
				height: 100%;
			}
		}

		@media #{$vpmobile} {
			flex-wrap: wrap;
			.skill-icon {
				order: 1;
			}
			.btn-wrap {
				order: 2;
			}
			.description {
				order: 3;
				flex: 0 0 100%;
				margin: 15px 0 0;
			}
		}

		@media #{$vpxsmmobile} {
			padding: 0 0 15px;
		}
	}

	.btn {
		display: flex;
		width: 30px;
		padding: 5px;
		border-radius: 50%;
	}

	.btn-wrap {
		display: flex;
		align-items: center;
		justify-content: center;

		.btn-blue {
			margin: 0 30px 0 0;
		}
	}
}
.all-post {
	width: 100%;
	margin-top: 50px;
}

/*=================================================================
  Single Profile Page
==================================================================*/
#blog-banner {
	padding-bottom: 100px;
	padding-top: 150px;
}
#blog-page {
	margin: 0 0 40px;
}
.post-meta {
	font-size: 13px;
	margin: 20px 0 0;
	padding: 0 20px 10px;
	a {
		color: $iBlue;
	}
	>span {
		color: $iDarkGray;
		border-right: 1px solid $iLightGray;
		display: inline-block;
		font-size: 13px;
		margin: 10px 10px 0 0;
		padding-right: 10px;
		&:last-child {
			border-right: 0;
		}
		i {
			margin-right: 5px;
		}
	}
}
.post-excerpt {
	padding: 0 20px;
	margin-bottom: 60px;
	h3 {
		a {
			color: $black;
		}
	}
	blockquote {
		line-height: 22px;
		margin: 20px 0;
		font-size: 16px;
	}
}
.single-blog {
	background-color: $white;
	margin-bottom: 50px;
	padding: 20px;
}
.blog-subtitle {
	font-size: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid $iLightGray;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.next-prev {
	border-bottom: 1px solid $iLightGray;
	border-top: 1px solid $iLightGray;
	margin: 20px 0;
	padding: 25px 0;
	a {
		color: $black;
		&:hover {
			color: $iBlue;
		}
	}
	.prev-post {
		i {
			margin-right: 10px;
		}
	}
	.next-post {
		i {
			margin-left: 10px;
		}
	}
}
.social-profile {
	ul {
		li {
			margin: 0 10px 0 0;
			display: inline-block;
			a {
				color: $iDarkGray;
				display: block;
				font-size: 16px;
				i {
					&:hover {
						color: $iBlue;
					}
				}
			}
		}
	}
}
.comments-section {
	margin-top: 35px;
}
.author-about {
	margin-top: 40px;
}
.post-author {
	margin-right: 20px;
	>img {
		border: 1px solid $iLightGray;
		max-width: 120px;
		padding: 5px;
		width: 100%;
	}
}
.comment-list {
	ul {
		margin-top: 20px;
		li {
			margin-bottom: 20px;
		}
	}
}
.comment-wrap {
	border: 1px solid $iLightGray;
	border-radius: 1px;
	margin-left: 20px;
	padding: 10px;
	position: relative;
	.author-avatar {
		margin-right: 10px;
	}
	.media {
		.media-heading {
			font-size: 14px;
			margin-bottom: 8px;
			a {
				color: $iBlue;
				font-size: 13px;
			}
		}
		.comment-meta {
			font-size: 12px;
			color: $iGray;
		}
		p {
			margin-top: 15px;
		}
	}
}
.comment-reply-form {
	margin-top: 80px;
	input {
		height: 35px;
		border-radius: 0;
		box-shadow: none;
		&:focus {
			box-shadow: none;
			border: 1px solid $iBlue;
		}
	}
	textarea {
		height: 35px;
		border-radius: 0;
		box-shadow: none;
		height: auto;
		&:focus {
			box-shadow: none;
			border: 1px solid $iBlue;
		}
	}
	.btn-main {
		height: auto;
	}
}


/*=================================================================
	Profile Page
==================================================================*/
.profile-sec {
	.content-sec-wrap {
		display: flex;

		.content-left {
			flex: 0 0 100%;
			max-width: 100%;
		}

		.content-right {
			flex: 0 0 25%;
			max-width: 25%;

			.btn {
				margin-top: 20px;
				margin-left: calc(100% - 135px);
			}

			.card-profile {
				display: block;
				padding: 20px;
				border-top: 1px solid $iLightGray;

				.title {
					margin: 0;
					padding: 10px 0;
					font-size: 16px;
					font-weight: bold;
					color: $iDarkGray;
				}
			}
		}

		@media #{$vptabletP} {

			flex-direction: column;
			.content-right,
			.content-left {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}

	.title {
		h4 {
			font-size: 22px;
		}
	}
}
#blog-banner {
	padding-bottom: 100px;
	padding-top: 150px;
}
.blog-icon {
	border: 1px solid $iGreen;
	border-radius: 50%;
	color: $iGreen;
	display: inline-block;
	padding: 16px 20px;
}
.blog-title {
	h1 {
		text-transform: uppercase;
	}
}
#blog-page {
	margin: 0 0 40px;
}
.post-item {
	.entry {
		border: 1px solid $iDarkGray;
		margin-bottom: 30px;
	}
}
.entry {
	.post-excerpt {
		padding: 0 20px;
	}
}
#gallery-post {
	.owl-prev {
		padding: 5px 17px;
		position: absolute;
		top: 45%;
		transition: all .5s ease-in 0s;
		left: -45px;
	}
	.owl-next {
		padding: 5px 17px;
		position: absolute;
		top: 45%;
		transition: all .5s ease-in 0s;
		right: -45px;
	}
	&:hover {
		.owl-prev {
			left: 0;
		}
		.owl-next {
			right: 0;
		}
	}
	overflow-x: hidden;
}
#post-thumb {
	.owl-prev {
		padding: 5px 17px;
		position: absolute;
		top: 45%;
		transition: all .5s ease-in 0s;
		left: -45px;
	}
	.owl-next {
		padding: 5px 17px;
		position: absolute;
		top: 45%;
		transition: all .5s ease-in 0s;
		right: -45px;
	}
	&:hover {
		.owl-prev {
			left: 0;
		}
		.owl-next {
			right: 0;
		}
	}
	overflow-x: hidden;
	.owl-buttons {
		color: $white;
	}
}
.post-meta {
	background-color: $iDarkGray;
	border-top: 1px solid $iDarkGray;
	font-size: 13px;
	margin: 20px 0 0;
	padding: 0 20px 10px;
	>span {
		border-right: 1px solid $iDarkGray;
		display: inline-block;
		font-size: 12px;
		margin: 10px 10px 0 0;
		padding-right: 10px;
		&:last-child {
			border-right: 0;
		}
		>i {
			margin-right: 5px;
		}
	}
	a {
		&:hover {
			color: $iGreen;
		}
	}
}
.post-excerpt {
	.more {
		margin-top: 20px;
		a {
			display: inline-block;
			font-size: 13px;
			padding: 10px 25px;
			&:hover {
				background-color: $iGreen;
				color: $white;
			}
		}
	}
}
aside.widget {
	margin-bottom: 25px;
}
.widget-title {
	>h3 {
		color: $white;
		margin-bottom: 15px;
		margin-top: 0;
		position: relative;
	}
}
#search-form {
	position: relative;
}
#search-submit {
	background: none;
	border: 0;
	color: $white-2;
	display: block;
	font-size: 16px;
	height: 32px;
	outline: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 32px;
}
.widget-content {
	.tab-content {
		background-color: $iDarkGray-1;
		padding: 20px;
	}
	.tag {
		background-color: $iDarkGray-1;
		color: $white;
		display: inline-block;
		margin-bottom: 10px;
		margin-right: 5px;
		padding: 5px 13px;
		&:hover {
			background-color: $iGreen;
			color: $white;
		}
	}
}
.tab-post-nav {
	background-color: $iDarkGray;
	li {
		float: left;
		a {
			border-top: 3px solid transparent;
			color: $white;
			display: block;
			padding: 13px 18px;
			text-align: center;
		}
	}
	li.active {
		a {
			border-top: 3px solid $iGreen;
			background-color: $iDarkGray-1;
			color: $iGreen;
		}
	}
}
.tab-pane.active {
	.clearfix {
		&:first-child {
			margin-bottom: 25px;
		}
	}
}
.tab-excerpt {
	>span {
		display: block;
		font-size: 12px;
		margin-bottom: 10px;
	}
	h4 {
		a {
			color: $white;
			&:hover {
				color: $iGreen;
			}
		}
	}
}
.categories {
	li {
		margin-bottom: 10px;
		transition: all .5s ease-in 0s;
		a {
			padding-left: 5px;
		}
	}
	>li {
		&:hover {
			a {
				padding-left: 10px;
				color: $iGreen;
			}
		}
		&:last-child {
			border-bottom: 0;
		}
	}
}
.post-pagination {
	display: inline-block;
	margin-bottom: 20px;
	ul {
		li {
			margin-right: 5px;
			float: left;
			&:last-child {
				margin-right: 0;
			}
			a {
				background-color: $iDarkGray;
				color: $iGray;
				display: block;
				padding: 8px 18px;
				&:hover {
					background-color: $iGreen;
					color: $white;
				}
			}
		}
		li.disabled {
			a {
				cursor: not-allowed;
				&:hover {
					background-color: $iDarkGray-1;
					color: $iGray;
				}
			}
		}
		li.active {
			a {
				background-color: $iGreen;
				color: $white;
			}
		}
	}
}


/*=================================================================
	Single Profile Page
==================================================================*/
.single-blog {
	background-color: $white;
	margin-bottom: 50px;
	padding: 20px;
}
blockquote {
	border-left: 5px solid $iGreen;
	font-style: italic;
	line-height: 22px;
	margin: 20px 0;
}
.next-prev {
	border-bottom: 1px solid $iDarkGray;
	border-top: 1px solid $iDarkGray;
	margin: 20px 0;
	padding: 15px 0 10px;
	a {
		&:hover {
			color: $iGreen;
		}
	}
}
.prev-post {
	i {
		float: left;
		margin-right: 10px;
		margin-top: -4px;
	}
}
.next-post {
	i {
		float: right;
		margin-left: 10px;
		margin-top: -3px;
	}
}
.post-author {
	margin-right: 20px;
	>img {
		border: 1px solid $iDarkGray;
		max-width: 120px;
		padding: 5px;
		width: 100%;
	}
}
.comment-reply-form {
	>h3 {
		border-bottom: 1px solid $iDarkGray;
		margin-bottom: 15px;
		margin-top: 0;
		padding-bottom: 10px;
		position: relative;
	}
	margin-top: 80px;
}
.author-about {
	>h4 {
		border-bottom: 1px solid $iDarkGray;
		margin-bottom: 15px;
		margin-top: 0;
		padding-bottom: 10px;
		position: relative;
	}
}
.comments {
	>h4 {
		border-bottom: 1px solid $iDarkGray;
		margin-bottom: 15px;
		margin-top: 0;
		padding-bottom: 10px;
		position: relative;
	}
}
.author-bio {
	h5 {
		display: inline-block;
	}
}
.post-item {
	.comments-section {
		margin-top: 35px;
	}
}
.comment-list {
	ul {
		margin-top: 20px;
		li {
			padding-left: 25px;
		}
	}
	li {
		margin-bottom: 20px;
	}
}
.comment-wrap {
	border: 1px solid $iDarkGray;
	border-radius: 1px;
	margin-left: 20px;
	padding: 10px;
	position: relative;
	.author-avatar {
		margin-left: -25px;
		margin-right: 20px;
	}
}
.author-comment {
	margin-bottom: 15px;
	overflow: hidden;
	cite {
		a {
			&:hover {
				color: $iGreen;
				text-decoration: underline;
			}
		}
		margin-bottom: 2px;
		padding-top: 4px;
	}
}
.replay {
	&:hover {
		color: $iGreen;
		text-decoration: underline;
	}
}
.comment-content {
	margin-left: 45px;
}
#comment-form {
	margin-top: 35px;

	.form-control {
		&:hover {
			border-color: $iGreen;
		}
	}
}
.form-group {
	&:last-child {
		margin: 0;
		input {
			margin: 0;
		}
	}
}

