/*=================================================================
  Services section
==================================================================*/

.service-block {
	padding: 60px 20px;
	border-left: 1px solid $white-alpha-07;
	border-top: 1px solid $white-alpha-07;
	margin-bottom: 40px;
	box-shadow: 2px 2px 5px $black-alpha-30, 13px 13px 0 $white-apha-70;
	.service-icon {
		margin-bottom: 10px;
		font-size: 50px;
	}
}

/*=================================================================
  Services section 2
==================================================================*/
.service-2 {
	.service-item {
		border: 1px solid $white;
		margin-bottom: 30px;
		padding: 50px 20px;
		transition: all 0.3s ease 0s;
		&:hover {
			box-shadow: 0 5px 65px 0 $black-alpha-10;
			-webkit-box-shadow: 0 5px 65px 0 $black-alpha-10;
			i {
				background: $white;
				color: $iBlue;
			}
		}
		i {
			font-size: 30px;
			display: inline-block;
			background: $iBlue none repeat scroll 0 0;
			border-radius: 30px;
			box-shadow: 0 5px 6px 0 $black-alpha-10;
			color: $white;
			height: 55px;
			line-height: 55px;
			margin-bottom: 20px;
			width: 55px;
			transition: all 0.3s ease 0s;
		}
	}
}
