/*=================================================================
  Session section
==================================================================*/
.session {
	.post-block {
		padding: 0;

		&.profile {
			padding: 0 0 30px;
		}

		.content {
			padding: 0;
			border: 0;
			align-items: initial;

			.description {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding: 30px 0 30px 15px;
			}

			.btn-box {
				padding: 0 0 0 20px;
				height: 100%;
			}
		}

		.btn-wrap {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			border-left: 1px solid $iLightGray;
			padding: 0 30px 0 0;
			margin: 30px 0;

			.image {
				display: flex;
				flex-direction: row;
				align-items: center;
				border-top: 1px solid $iLightGray;
				padding: 15px 0 0 20px;

				p {
					margin: 0 20px 0 0;
				}

				.profile {
					padding: 0;

					.media-wrapper  {
						margin: 0;
					}
				}
			}
		}
	}
}

.info-content {
	padding: 0 0 30px;
}