/*=================================================================
  Testimonial section
==================================================================*/
.testimonial {
	&:before {
		background: $black-alpha-70;
	}
}
.client-info {
	margin: 0 auto;
	width: 45%;
}
.client-comment {
	p {
		color: $iLightGray;
		font-size: 18px;
	}
}
.client-thumb {
	img {
		border-radius: 50%;
		margin: 0 auto;
		max-width: 115px;
		width: 100%;
	}
}
.client-meta {
	margin: 0 0 10px;
	h3 {
		margin: 15px 0 5px .0;
	}
	span {
		font-size: 12px;
	}
}
.owl-pagination {
	text-align: center;
}
.owl-buttons {
	text-align: center;
}
.owl-controls {
	.owl-page {
		display: inline-block;
		span {
			background-color: transparent;
			border: 2px solid $white;
			border-radius: 50px;
			display: block;
			height: 13px;
			margin: 0 4px;
			width: 13px;
			opacity: 1;
			filter: alpha(opacity=100);
		}
		&:hover {
			span {
				background-color: $iBlue;
				border: 2px solid transparent;
			}
		}
	}
	.owl-page.active {
		span {
			background-color: $iBlue;
			border: 2px solid transparent;
		}
	}
}
.our-clients {
	margin: 30px 0 0;
}
#our-clietns {
	.item {
		img {
			max-width: 150px;
			width: 100%;
		}
	}
	.owl-next {
		border: 1px solid $iLightGray;
		border-radius: 50px;
		display: inline-block;
		margin: 45px 0 0;
		padding: 3px 15px;
		position: relative;
		text-align: center;
		i {
			line-height: 34px;
		}
	}
	.owl-prev {
		border: 1px solid $iLightGray;
		border-radius: 50px;
		display: inline-block;
		margin: 45px 0 0;
		padding: 3px 15px;
		position: relative;
		text-align: center;
		margin-right: 15px;
		i {
			line-height: 34px;
		}
	}
}
#our-clients {
	.item {
		margin: 10px;
	}
}
@media (max-width: 768px) {
	.client-info {
		width: 90%;
	}
}
