/*=================================================================
  User Setting section
==================================================================*/
.user-setting {
	.post-block {
		.content {
			padding: 0;
			border: 0;
			flex-direction: column;

			@media #{$vpmobile} {
				flex-direction: column-reverse;
			}

			.description {
				margin: 0;
				width: 50%;
				padding: 0 0 20px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
				@media #{$vpmobile} {
					width: 100%;
				}
			}
		}
	}

	.form-group {
		width: 50%;

		@media #{$vpmobile} {
			width: 100%;
		}
	}

	.btn--fixed {
		width: 40px;
		height: 40px;
		padding: 5px;
		border-radius: 50%;
		box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);

		@media #{$vptabletPMin} {
			display: none;
		}
	}
}

.sticky-tab {

	@media #{$vptabletPMin} {
		height: auto !important;
		top: 0 !important;
	}

	@media #{$vptabletP} {
		position: absolute;
		left: 0;
		z-index: 10;
		background: $white;
		height: 100%;
		transform: translateX(-100%);
		transition: transform 0.3s ease-in-out;
	}

	&.is--active {
		transform: translateX(0);
	}
}

.page-listing {
	padding: 0 0 20px;

	ul {
		li {
			position: relative;
			padding: 10px 10px 10px 30px;

			&:before {
				content:'';
				display: block;
				width: 10px;
				height: 1px;
				position: absolute;
				left: 10px;
				top: 50%;
				transform: translateY(-50%);
				background: $iBlue;
			}

			a {
				&:hover {
					color: $iPrimary;
				}
			}
		}
	}

	a {
		color: $iDarkGray;
		padding: 0 0 5px;

		&.active {
			color: $iBlue;
		}
	}
}

.nav-sticky-wrap {
	&.is--sticky {
		position: fixed;
		top: 0;
	}
}
