<!-- Start dashboard Section
==================================== -->

<section class="section dashboard">
  <div class="container">
    <div class="title p-0  text-center wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
      <h2>My Dashboard</h2>
    </div>
    <div class="problems user-icons wow fadeInUp" data-wow-duration="500ms">
      <app-user-switch class="post-block profile"></app-user-switch>
    </div>
  </div>
  <div *ngIf="!loadRequiredUserDashboard">
    <div id="consult" class="consult sub-section">
      <div class="container">
        <div class="title wow fadeInUp"  data-wow-duration="500ms">
          <div class="heading">
            <h4>Our Best Problem Solver<span class="color"></span></h4>
            <div class="border"></div>
          </div>
        </div>
        <div class="row">
          <!-- Start consult item -->
          <article *ngFor="let privateConsultant of consultantProfileForPrivateProblemList$" class="col-12 col-sm-6 col-md-6 col-xl-4 wow fadeInUp" data-wow-duration="500ms">
            <div class="consult-block text-center">
              <div class="post-block profile">
                <div class="media-wrapper">
                  <img src="assets/img/icons/profile_img.svg" alt="profile" class="js-tosvg img-responsive">
                </div>
              </div>
              <h3>Lorem ipsum dolor sit</h3>
              <div class="rate">
                <!--5th Star-->
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text"></label>
                <!--4th Star-->
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text"></label>
                <!--3th Star-->
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text"></label>
                <!--2th Star-->
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text"></label>
                <!--1th Star-->
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text"></label>
              </div>
              <a href="#" class="btn btn-main">View More</a>
            </div>
          </article>
          <!-- End consult item -->
        </div><!-- End row -->
        <div class="element-btn-wrap">
          <a class="btn btn-main">View More</a>
        </div>
      </div>   	<!-- End container -->
    </div>   <!-- End section -->

    <div class="problems sub-section">
      <div class="container">
        <!-- /section title -->
        <div class="row">
          <!-- dashboard item -->
          <div class="col-12">
            <div class="info-content">
              <div class="title wow fadeInUp"  data-wow-duration="500ms">
                <div class="heading">
                  <h4>Public Problem To View<span class="color"></span></h4>
                  <div class="border"></div>
                </div>
              </div>
              <div *ngFor = "let problemJustToViewUser of problemViewAsUser$" class="post-block text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="content">
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Risus commodo
                      viverra.</p>
                  </div>
                  <div class="btn-wrap padding--right">
                    <div class="btn-box image">
                      <div class="post-block profile">
                        <div class="media-wrapper">
                          <img src="assets/img/icons/profile_img.svg" alt="profile" class="js-tosvg img-responsive">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="btn-wrap padding--left">
                    <div class="btn-box image">
                      <div class="post-block profile">
                        <div class="media-wrapper">
                          <img src="assets/img/icons/profile_img.svg" alt="profile" class="js-tosvg img-responsive">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="element-btn-wrap">
                <a class="btn btn-main">View More</a>
              </div>
            </div>
          </div>
          <!-- End dashboard item -->
        </div> 		<!-- End row -->
      </div>   	<!-- End container -->
    </div>
  </div>
  <div *ngIf="loadRequiredUserDashboard">
    <div class="problems sub-section">
      <div class="container">
        <!-- /section title -->
        <div class="row">
          <!-- dashboard item -->
          <div class="col-12">
            <div class="info-content">
              <div class="title wow fadeInUp"  data-wow-duration="500ms">
                <div class="heading">
                  <h4>Public Problem to Solve<span class="color"></span></h4>
                  <div class="border"></div>
                </div>
              </div>
              <div *ngFor="let consultantProblemListToSolve of problemToViewAsSolver$" class="post-block text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="content">
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Risus commodo
                      viverra.</p>
                  </div>
                  <div class="btn-wrap padding--right">
                    <div class="btn-box image">
                      <div class="post-block profile">
                        <div class="media-wrapper">
                          <img src="assets/img/icons/profile_img.svg" alt="profile" class="js-tosvg img-responsive">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="btn-wrap padding--left">
                    <div class="btn-box image">
                      <div class="post-block profile">
                        <div class="media-wrapper">
                          <img src="assets/img/icons/profile_img.svg" alt="profile" class="js-tosvg img-responsive">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="element-btn-wrap">
                <a class="btn btn-main">View More</a>
              </div>
            </div>
          </div>
          <!-- End dashboard item -->
        </div> 		<!-- End row -->
      </div>   	<!-- End container -->
    </div>
  </div>
</section>   <!-- End section -->

<button (click)="showPublicProblemToViewByTags()">loadPublicProblemToViewByTags</button>
<button (click)=" showPublicProblemSolverProfileWithSkillTags()">loadPublicProblemSolverProfileWithSkillTags</button>
<button (click)=" showPublicProblemsToViewAccordingToNoTags()">loadPublicProblemsToViewAccordingToNoTags</button>
<button (click)="showPublicProblemsToSolveAccordingToConsultantTags()">loadPublicProblemsToSolveAccordingToConsultantTags </button>
