<div *ngIf="(problemView$ | async) as problemData" class="modal-header">
     <h2 class="modal-title">{{problemData.title}}</h2>
     <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div *ngIf="(problemView$ | async) as problemData" class="modal-body">
    <div class="modal-box">
      <quill-view-html [content]="problemData.description" theme="snow" class="editor"></quill-view-html>
    </div>
    <div class="modal-right-box">
      <div *ngIf = "problemData.session_request.length > 0 " class="modal-subBox">
        <h5>Session Request</h5>
        <div class="sub-catagory">
          <p>Some text in the modal.</p>
        </div>
      </div>
      <div *ngIf = "problemData.session_request.length == 0 " class="modal-subBox">
        <h5>Session Request</h5>
        <div class="sub-catagory">
          <p>You Have no Session Request</p>
        </div>
      </div>
      <div *ngIf = "problemData.session.length > 0 "  class="modal-subBox">
      <h5>Session Scheduled</h5>
      <div class="sub-catagory">
        <p>Some text in the modal.</p>
      </div>
    </div>
      <div *ngIf = "problemData.session.length == 0 "  class="modal-subBox">
        <h5>Session Scheduled</h5>
        <div class="sub-catagory">
          <p>You Have No Session Scheduled.</p>
        </div>
      </div>
    </div>
</div>
