.text-area{
    background-color: #ffffff;
    color: #4a4a4a;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    width: 100%;
}

.error-message{
    padding: 0px 0px 20px 0px;
    margin-bottom: 30px;
}