<section id="profile" class="section profile-sec">
  <div class="container">
    <div class="content-sec-wrap">
      <div class="content-left">
        <div class="row">
          <article class="col-12 col-lg-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
            <div class="post-block profile">
              <div class="media-wrapper">
                <img src="assets/img/icons/profile_img.svg" alt="close button" class="js-tosvg img-responsive">
              </div>
              <div class="btn-wrap">
                <a class="btn btn-green"><img src="assets/img/icons/edit.svg" class="js-tosvg"></a>
                <a class="btn btn-red"><img src="assets/img/icons/delete.svg" class="js-tosvg"></a>
              </div>
            </div>
          </article>
        </div>

        <div class="title wow fadeInDown">
          <h4>About<span class="color"></span></h4>
          <div class="border"></div>
        </div>
        <div class="row">
          <article class="col-12 col-lg-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
            <textarea class="text-area" type="text" [(ngModel)]="aboutText" (change)="onAboutChange(aboutText)"></textarea>
            <div class="error-message" role="alert" style="color: red;" *ngIf="aboutText?.length < 150">
              Maximum 150 character (remaining {{150 - aboutText?.length}})
            </div>
            <div class="error-message" role="alert" style="color: green;" *ngIf="aboutText?.length > 149">
              Maximum 150 character (remaining 0)
            </div>
          </article>
        </div>

        <app-education-and-skill *ngIf="dataLoaded | async" [heading]="educationHeading" [textBox1PlaceHolder]="degreeName"
        [textBox2PlaceHolder]="institutionName" [config]="educations"></app-education-and-skill>

        <app-education-and-skill *ngIf="dataLoaded | async" [heading]="workExperienceHeading" [textBox1PlaceHolder]="organizationName"
        [textBox2PlaceHolder]="role" [config]="experience"></app-education-and-skill>

        <div class="title wow fadeInDown">
          <h4>Skill<span class="color"></span></h4>
          <div class="border"></div>
        </div>
        <div class="row">
          <article class="col-12 col-lg-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
            <div class="skill-container">
              <div id="skills" class="post-block skills" (click)="onSkillClicked()">
                <span *ngFor="let skill of skills">{{skill}}</span>
                <div id="input-skill" style="display: flex; align-items: center;">
                  <input id="skill-textbox" type="text" style="border: 0;" (keyup.enter)="onEnter(skillInput)"
                         (keyup.backspace)="onBackSpace(skillInput)" #skillInput>
                </div>
              </div>
            </div>
          </article>
        </div>

        <app-education-and-skill *ngIf="dataLoaded | async" [heading]="accomplishAndCertificateHeading" [textBox1PlaceHolder]="certificationName"
                                 [textBox2PlaceHolder]="certificationLink" [config]="certification"></app-education-and-skill>

        <button type="submit" (click)="onFormSubmit()" [disabled]="isSubmitDisabled()">Submit</button>

      </div>
    </div>
  </div>
</section>
