<div class="section section-login">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 col-xl-4">
        <div class="img-wrap">
          <img src="assets/img/logo/solveit_logo.png">
        </div>
      </div>
      <div class="offset-xl-3 offset-lg-2 col-12 col-md-6  col-lg-5 col-xl-4 text-center wow fadeInUp" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-name: fadeInUp;">
        <div class="block register-wrap contact-form ">
          <div class="btn-wrap">
            <button type="button" class="btn" (click)="switchForms(toggleState.SIGNUP)" >Sign Up</button>
            <button type="button" class="btn" (click)="switchForms(toggleState.LOGIN)" >Login</button>
          </div>

          <div *ngIf="toggleValue === toggleState.LOGIN" class="card card-login show">
            <form id="register-form"  [formGroup]="loginFormGroup" (ngSubmit)="onSubmitLogin()" class="register-form" >
              <div class="form-group">
                <input type="email" formControlName="email" placeholder="Your Email" class="form-control" name="email" id="email" required>
              </div>

              <div class="form-group">
                <input type="password" formControlName="password" placeholder="Your Password" class="form-control" name="password" id="password" required>
              </div>

              <div id="mail-success" class="success">
                Thank you. The Mailman is on His Way :)
              </div>

              <div id="mail-fail"  class="error">
                Sorry, don't know what happened. Try later :(
              </div>

              <button type="submit" class="btn btn-main">Login</button>
              <div class="forgot">
                <a href="#" class="btn btn-link btn-danger">Forgotten account?</a>
              </div>
            </form>
            <div class="card-body">
            <button class="btn btn-facebook mt-1" (click)="facebookLogin()">
              <i class="fa fa-facebook mr-1"></i>
              Login with Facebook
            </button>
              <button class="btn btn-google mt-1" (click)="googleLogin()">
                <i class="fa fa-google mr-1"></i>
                Login with Google
              </button>
          </div>
          </div>

          <div *ngIf="toggleValue === toggleState.SIGNUP"  class="card card-register show">
            <form id="login-form" [formGroup]="signupFormGroup" (ngSubmit)="onSubmitSignUp()"  class="register-form">

              <div class="form-group">
                <input type="text" placeholder="Your Name"  formControlName="username" class="form-control" name="name" id="name" required>
              </div>

              <div class="form-group">
                <input type="text" placeholder="Your Number" formControlName="phone_number" class="form-control" name="number" id="number" required>
              </div>

              <div class="form-group">
                <input type="email" placeholder="Your Email" formControlName="email" class="form-control" name="email" id="email-signup" required>
              </div>

              <div class="form-group">
                <input type="password" placeholder="Your Password" formControlName="password" class="form-control" name="password" id="password-signup" required>
              </div>

              <div class="form-group">
                <input type="password" placeholder="Confirm Password"  formControlName="cpassword" class="form-control" name="cPassword" id="cPassword" required>
              </div>

              <div id="mail-success" class="success">
                Thank you. The Mailman is on His Way :)
              </div>

              <div id="mail-fail" class="error">
                Sorry, don't know what happened. Try later :(
              </div>

              <button type="submit" class="btn btn-main">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
