.fa:hover {
  opacity: 0.7;
  color: white;
}

.fa-facebook {
  background: #3B5998;
}

.fa-twitter {
  background: #55ACEE;
}

.fa-google {
  background: #dd4b39;
}

.btn-facebook {
  background: #3B5998;
}


.btn-google {
  background: #dd4b39;
}
