<!-- Start Home Section
==================================== -->
<app-static-header></app-static-header>
<section class="banner problems home">
  <div class="banner-wrap">
    <div class="img-wrapper">
      <img src="assets/img/bg/banner-main.jpg" alt="profile" class="js-tosvg img-responsive">
    </div>
    <div class="form-group seach-bar">
      <h4 class="title">Get It Done With A Freelancer</h4>
      <p>Grow your business with the top freelancing website</p>
      <label for="search">
        <input type="email" placeholder="Search..." class="form-control" name="search" id="search">
      </label>
    </div>
  </div>
</section>

<section class="section home">
  <div id="home-work" class="section sub-section">
    <div class="container">
      <!-- section title -->
      <div class="title blue center wow fadeInUp"  data-wow-duration="500ms">
        <div class="heading">
          <h4>How It Works<span class="color"></span></h4>
          <div class="border"></div>
        </div>
      </div>
      <!-- /section title -->
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-xl-3  wow fadeInDown" data-wow-duration="500ms">
          <div class="how-it-work">
            <div class="work-photo">
              <img class="img-responsive" src="assets/img/bg/work-1.jpg" alt="Meghna">
            </div>
            <div class="work-meta">
              <h4>Graphic Designing</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3  wow fadeInDown" data-wow-duration="500ms">
          <div class="how-it-work">
            <div class="work-photo">
              <img class="img-responsive" src="assets/img/bg/work-2.jpg" alt="Meghna">
            </div>
            <div class="work-meta">
              <h4>Market Research</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3  wow fadeInDown" data-wow-duration="500ms">
          <div class="how-it-work">
            <div class="work-photo">
              <img class="img-responsive" src="assets/img/bg/work-3.jpg" alt="Meghna">
            </div>
            <div class="work-meta">
              <h4>Street Consulting</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3  wow fadeInDown" data-wow-duration="500ms">
          <div class="how-it-work">
            <div class="work-photo">
              <img class="img-responsive" src="assets/img/bg/work-4.jpg" alt="Meghna">
            </div>
            <div class="work-meta">
              <h4>Sales Services</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse</p>
            </div>
          </div>
        </div>
      </div>  	<!-- End row -->
    </div>   	<!-- End container -->
  </div>   <!-- End section -->

  <div class="sub-banner">
    <div class="img-wrapper">
      <img src="assets/img/bg/banner-home.png" alt="profile" class="js-tosvg img-responsive">
    </div>
    <div class="content">
      <h5 class="title">crowdsourcing</h5>
      <h5 class="title">freelancing</h5>
      <h5 class="title">video calling</h5>
      <h5 class="title">platform</h5>
      <p>join us for success</p>
    </div>
  </div>

  <div id="consult" class="consult sub-section">
    <div class="container">
      <div class="title center blue wow fadeInUp"  data-wow-duration="500ms">
        <div class="heading">
          <h4>Best Consultant<span class="color"></span></h4>
          <div class="border"></div>
        </div>
      </div>
      <div class="row">
        <!-- Start consult item -->
        <article class="col-12 col-sm-6 col-md-4 col-xl-3 wow fadeInUp" data-wow-duration="500ms">
          <div class="consult-block text-center">
            <div class="post-block profile">
              <div class="media-wrapper">
                <img src="assets/img/icons/profile_img.svg" alt="profile" class="js-tosvg img-responsive">
              </div>
            </div>
            <h4>video calling platform</h4>
            <p>Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit</p>
            <div class="rated">
              <span class="stars checked">★</span>
              <span class="stars checked">★</span>
              <span class="stars checked">★</span>
              <span class="stars">★</span>
              <span class="stars">★</span>
            </div>
          </div>
        </article>
        <article class="col-12 col-sm-6 col-md-4 col-xl-3 wow fadeInUp" data-wow-duration="500ms">
          <div class="consult-block text-center">
            <div class="post-block profile">
              <div class="media-wrapper">
                <img src="assets/img/icons/profile_img.svg" alt="profile" class="js-tosvg img-responsive">
              </div>
            </div>
            <h4>Marketing strategies</h4>
            <p>Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit</p>
            <div class="rated">
              <span class="stars checked">★</span>
              <span class="stars checked">★</span>
              <span class="stars checked">★</span>
              <span class="stars">★</span>
              <span class="stars">★</span>
            </div>
          </div>
        </article>
        <article class="col-12 col-sm-6 col-md-4 col-xl-3 wow fadeInUp" data-wow-duration="500ms">
          <div class="consult-block text-center">
            <div class="post-block profile">
              <div class="media-wrapper">
                <img src="assets/img/icons/profile_img.svg" alt="profile" class="js-tosvg img-responsive">
              </div>
            </div>
            <h4>Consulting and analysis</h4>
            <p>Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit</p>
            <div class="rated">
              <span class="stars checked">★</span>
              <span class="stars checked">★</span>
              <span class="stars checked">★</span>
              <span class="stars">★</span>
              <span class="stars">★</span>
            </div>
          </div>
        </article>
        <article class="col-12 col-sm-6 col-md-4 col-xl-3 wow fadeInUp" data-wow-duration="500ms">
          <div class="consult-block text-center">
            <div class="post-block profile">
              <div class="media-wrapper">
                <img src="assets/img/icons/profile_img.svg" alt="profile" class="js-tosvg img-responsive">
              </div>
            </div>
            <h4>Business planning</h4>
            <p>Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit</p>
            <div class="rated">
              <span class="stars checked">★</span>
              <span class="stars checked">★</span>
              <span class="stars checked">★</span>
              <span class="stars">★</span>
              <span class="stars">★</span>
            </div>
          </div>
        </article>
        <!-- End consult item -->
      </div><!-- End row -->
    </div>   	<!-- End container -->
  </div>
</section>   <!-- End section -->
<app-footer></app-footer>
