<div class="title wow fadeInDown">
    <h4>{{heading}}<span class="color"></span></h4>
    <div class="border"></div>
</div>
<!-- /section title -->
<div class="row">
    <!-- single profile post -->
    <article class="col-12 col-lg-12 clearfix wow fadeInUp" data-wow-duration="500ms">
        <div class="skills-wrap">
            <div class="post-block">
                <div class="media-wrapper" (click)="addData(heading)">
                    <img src="assets/img/icons/new_post.svg" alt="close button" class="js-tosvg img-responsive">
                </div>
                <form [formGroup]="form">
                    <div formArrayName="data">
                        <div *ngFor="let data of data().controls; let i=index" [formGroupName]="i">
                            <div class="content">
                                <div class="skill-icon"><img src="assets/img/icons/skill_1.svg" class="js-tosvg"></div>
                                <div class="description">
                                  <input type="text" formControlName="textBox1" placeholder="{{textBox1PlaceHolder}}" (change)="onTextBox1Change(heading)">
                                  <input type="text" formControlName="textBox2" placeholder="{{textBox2PlaceHolder}}" (change)="onTextBox2Change(heading)">
                                  <label>
                                    From
                                    <select formControlName="startingYear" name="year" (change)="onStartingYearChange(heading)">
                                        <option *ngFor="let year of years()" value={{year}}> {{year}} </option>
                                      </select>
                                  </label>
                                  <label>
                                    To
                                    <select formControlName="endingYear" name="year" (change)="onEndingYearChange(heading)">
                                        <option *ngFor="let year of years()" value={{year}}> {{year}} </option>
                                      </select>
                                  </label>
                                </div>
                                <div class="btn-wrap">
                                    <a class="btn btn-red"><img src="assets/img/icons/delete.svg" class="js-tosvg" (click)="removeData(i, heading)"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </article>
    <!-- /single profile post -->
</div>
